<div class="ft carousel-wrapper carousel-{{ module }} swiper-viewport mb-3">
  <div id="carousel{{ module }}" class="swiper-container">
    <div class="swiper-wrapper">
			{% for banner in banners %}
      <div class="swiper-slide text-center">
				{% if banner.link %}
					<a href="{{ banner.link }}">
						<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid d-block mx-auto" />
					</a>
				{% else %}
					<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid d-block mx-auto" />
				{% endif %}
			</div>
      {% endfor %}
		</div>
  </div>
  <div class="swiper-pagination d-none"></div>
  <div class="swiper-pager">
    <div class="swiper-button-next">
			<svg class="d-block" fill="#aaa" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
				<path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"></path>
			</svg>
		</div>
    <div class="swiper-button-prev">
			<svg class="d-block" fill="#aaa" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
				<path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path>
			</svg>
		</div>
  </div>
</div>
<script>
	$('#carousel{{ module }}').swiper({
		mode: 'horizontal',
		slidesPerView: 6,
		breakpoints: {
			380: {
			slidesPerView: 2
			},
			576: {
			slidesPerView: 3
			},
			768: {
			slidesPerView: 4
			},
			992: {
			slidesPerView: 5
			},
			1200: {
			slidesPerView: 6
			}
		},
		pagination: '.carousel-{{ module }} swiper-pagination',
		paginationClickable: true,
		nextButton: '.carousel-{{ module }} .swiper-button-next',
		prevButton: '.carousel-{{ module }} .swiper-button-prev',
		autoplay: 2500,
		loop: true
	});
</script>