<div class="card box-products product-items mb-3">
	<div class="card-header px-3">
		<h6 class="card-title m-0">
			{{ heading_title }}
		</h6>
	</div>
	<div class="card-body p-0">
		<div class="products-wrapper">
			<div class="row no-gutters">
				{% for product in products %}
				<div class="col-6 col-sm-4 col-lg-3 product-col">
					<div class="card h-100 border-0 rounded-0 mx-auto">
						<div class="image position-relative px-2 px-sm-3 pt-2 pb-2">
							<a href="{{ product.href }}">
								<img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-fluid d-block mx-auto" />
							</a>
						</div>
						<div class="card-body px-2 px-sm-3 pt-2 pb-0">
							<div class="caption">
								<h6 class="card-title"><a href="{{ product.href }}">{{ product.name }}</a></h6>
							</div>
						</div>
						<div class="card-footer px-2 px-sm-3 pb-2 pb-sm-3 pt-0 bg-white border-0">
							{% if product.price %}
							<div class="price">
								{% if not product.special %}
								<div class="h6 mb-1">{{ product.price }}</div>
								{% else %} 
								<div class="h6 mb-1">
									<s class="d-inline-block text-danger font-weight-light">{{ product.price }}</s>
									<span class="d-inline-block">{{ product.special }}</span>
								</div>
								{% endif %}
								{% if product.tax %} 
								<small class="font-weight-light text-muted d-block">{{ text_tax }} {{ product.tax }}</small> 
								{% endif %}
							</div>
							{% endif %}
							<div class="btn-group btn-group-cart-add mt-2">
								<button type="button" class="btn btn-light btn-cart-add px-1" onclick="cart.add('{{ product.product_id }}');">
									<span class="si si-rem">
											<svg viewBox="0 0 24 24" fill="#bbb"
												 xmlns="http://www.w3.org/2000/svg">
												<path d="M18.1883 17.8336C16.6524 17.8336 15.386 19.0731 15.386 20.636C15.386 22.1719 16.6255 23.4383 18.1883 23.4383C19.7242 23.4383 20.9907 22.1988 20.9907 20.636C20.9637 19.1001 19.7242 17.8336 18.1883 17.8336Z"/>
												<path d="M23.1194 4.46864C23.0655 4.46864 22.9846 4.4417 22.9038 4.4417H5.92804L5.65859 2.63634C5.49691 1.45073 4.47298 0.561523 3.26042 0.561523H1.07783C0.485022 0.561523 0 1.04655 0 1.63935C0 2.23215 0.485022 2.71718 1.07783 2.71718H3.26042C3.39515 2.71718 3.50294 2.82496 3.52988 2.95969L5.20051 14.3308C5.41608 15.7589 6.65558 16.8367 8.11064 16.8367H19.32C20.7212 16.8367 21.9338 15.8397 22.2302 14.4655L23.9816 5.70814C24.0894 5.14228 23.7122 4.57643 23.1194 4.46864Z"/>
												<path d="M11.3172 20.5012C11.2633 19.0192 10.0238 17.8336 8.54176 17.8336C6.97891 17.9145 5.7933 19.2078 5.84719 20.7437C5.90109 22.2258 7.11364 23.4114 8.59565 23.4114H8.64954C10.1854 23.3305 11.398 22.0371 11.3172 20.5012Z"/>
											</svg>
									</span>
									<span class="ml-1 mr-2 d-none d-md-inline text-muted">{{ button_cart }}</span>
								</button>
								{% if fastorder_status %}
								<button type="button" class="btn btn-light btn-cart-add px-1"  title="{{ g_text_fastorder }}" onclick="ft_fastorder('{{ product.product_id }}')">
									<span class="si si-rem">
										<svg fill="#bbb" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
											<path d="M15 1H9v2h6V1zm-4 13h2V8h-2v6zm8.03-6.61l1.42-1.42c-.43-.51-.9-.99-1.41-1.41l-1.42 1.42C16.07 4.74 14.12 4 12 4c-4.97 0-9 4.03-9 9s4.02 9 9 9 9-4.03 9-9c0-2.12-.74-4.07-1.97-5.61zM12 20c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/>
										</svg>
									</span>
								</button>
								{% endif %}
								{% if qview_status %}
								<button type="button" class="btn btn-light btn-cart-add px-1" title="{{ g_text_qview }}" onclick="ft_qview('{{ product.product_id }}')">
									<span class="si si-rem">
										<svg fill="#bbb" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
											<path d="M12,6.5c3.79,0,7.17,2.13,8.82,5.5c-1.65,3.37-5.02,5.5-8.82,5.5S4.83,15.37,3.18,12C4.83,8.63,8.21,6.5,12,6.5 M12,4.5 C7,4.5,2.73,7.61,1,12c1.73,4.39,6,7.5,11,7.5s9.27-3.11,11-7.5C21.27,7.61,17,4.5,12,4.5L12,4.5z"></path><path d="M12,9.5c1.38,0,2.5,1.12,2.5,2.5s-1.12,2.5-2.5,2.5S9.5,13.38,9.5,12S10.62,9.5,12,9.5 M12,7.5c-2.48,0-4.5,2.02-4.5,4.5 s2.02,4.5,4.5,4.5s4.5-2.02,4.5-4.5S14.48,7.5,12,7.5L12,7.5z"></path>
										</svg>
									</span>
								</button>
								{% endif %}
								<div class="btn-group position-static">
									<div class="dropdown-menu" >
										<a href="#" class="dropdown-item pl-2 pr-3" onclick="wishlist.add('{{ product.product_id }}');return false">
											<span class="si si-rem mr-1">
												<svg fill="#bbb" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
													<path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"/>
												</svg>
											</span>
											{{ button_wishlist }}
										</a>
										<a href="#" class="dropdown-item pl-2 pr-3" onclick="compare.add('{{ product.product_id }}');return false">
											<span class="si si-rem mr-1">
												<svg fill="#bbb" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
													<path d="M10 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h5v2h2V1h-2v2zm0 15H5l5-6v6zm9-15h-5v2h5v13l-5-6v9h5c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/>
												</svg>
											</span>
											{{ button_compare }}
										</a>
									</div>
									<button type="button" class="btn btn-light btn-cart-add px-0" data-toggle="dropdown" data-flip="false">
										<span class="si si-rem">
											<svg fill="#bbb" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
												<path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
											</svg>
										</span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %} 
			</div>
		</div>
	</div>
</div>