<div class="slideshow-{{ module }} ft slideshow swiper-viewport mb-0 mb-sm-3">
  <div id="slideshow{{ module }}" class="swiper-container">
    <div class="swiper-wrapper">
			{% for banner in banners %}
      <div class="swiper-slide text-center">
				{% if banner.link %}
				<a href="{{ banner.link }}">
					<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid d-block mx-auto" />
				</a>
				{% else %}
				<img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-fluid d-block mx-auto" />
				{% endif %}
			</div>
      {% endfor %}
		</div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-pager">
    <div class="swiper-button-next">
			<svg class="d-block" fill="#aaa" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
				<path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"></path>
			</svg>
		</div>
    <div class="swiper-button-prev">
			<svg class="d-block" fill="#aaa" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
				<path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path>
			</svg>
		</div>
  </div>
</div>
<script>
	$('#slideshow{{ module }}').swiper({
		mode: 'horizontal',
		virtualTranslate: true,
		slidesPerView: 1,
		pagination: '.slideshow-{{ module }} .swiper-pagination',
		paginationClickable: true,
		nextButton: '.slideshow-{{ module }} .swiper-button-next',
		prevButton: '.slideshow-{{ module }} .swiper-button-prev',
		spaceBetween: 30,
		autoplay: 2500,
		autoplayDisableOnInteraction: true,
		effect: 'fade',
		loop: true
	});
</script>
