{% if columns == 1 %}
{% set class = 'col-12 col-lg-12' %}
{% elseif columns == 2 %}
{% set class = 'col-12 col-lg-6' %}
{% elseif columns == 3 %}
{% set class = 'col-12 col-md-6 col-lg-4' %}
{% else %}
{% set class = 'col-12 col-lg-3' %}
{% endif %}
<div class="row custom-blocks">
	<div class="category-block">
		<div class="block">
			<a href="/avtochehly">
				<picture>
					<source media="(max-width: 480px)" srcset="/catalog/view/theme/ft_frame/image/modelnye-chehly.svg">
					<img src="/image/catalog/frametheme/custom_blocks/modelnye-chehly.jpg" alt="Модельные чехлы">
				</picture>
				<p>Модельные чехлы</p>
			</a>
		</div>
		<div class="block">
			<a href="/universal-avtochehly">
				<picture>
					<source media="(max-width: 480px)" srcset="/catalog/view/theme/ft_frame/image/universalnye-chehly.svg">
					<img src="/image/catalog/frametheme/custom_blocks/universalnie-chehly-na-avto.jpg" alt="Универсальные чехлы">
				</picture>
				<p>Универсальные чехлы</p>
			</a>
		</div>
		<div class="block">
			<a href="/nakidki-na-sidenie">
				<picture>
					<source media="(max-width: 480px)" srcset="/catalog/view/theme/ft_frame/image/nakidki-na-sidenie.svg">
					<img src="/image/catalog/frametheme/custom_blocks/nakidki.jpg" alt="Накидки">
				</picture>
				<p>Накидки</p>
			</a>
		</div>
		<div class="block">
			<a href="/accessories">
				<picture>
					<source media="(max-width: 480px)" srcset="/catalog/view/theme/ft_frame/image/accessories.svg">
					<img src="/image/catalog/frametheme/custom_blocks/aksessuary.jpg" alt="Аксессуары">
				</picture>
				<p>Аксессуары</p>
			</a>
		</div>
		<div class="block">
			<a href="/avtokovriki">
				<picture>
						<source media="(max-width: 480px)" srcset="/catalog/view/theme/ft_frame/image/avtokovriki.svg">
						<img src="/image/catalog/frametheme/custom_blocks/kovry.jpg" alt="Ковры">
					</picture>
				<p>Ковры</p>
			</a>
		</div>
		<div class="block">
			<a href="/ustanovka-chehlov">
				<picture>
					<source media="(max-width: 480px)" srcset="/catalog/view/theme/ft_frame/image/ustanovka-chehlov.svg">
					<img src="/image/catalog/frametheme/custom_blocks/ustanovka-chehlov.jpg" alt="Установка">
				</picture>
				<p>Установка</p>
			</a>
		</div>
	</div>

	{% for block in blocks %}
		<div class="col {{ class }} mb-3">
			<div class="card custom-block h-100">
				<div  class="card-body p-3">
					{% if block.link %}
						<span class="row">
				<span class="col-auto">
					<a href="{{ block.link }}">
					{% if not block.html %}
						<img src="{{ block.image }}" srcset="{{ block.image }} 1x, {{ block.image2x }} 2x, {{ block.image3x }} 3x, {{ block.image4x }} 4x" alt="{{ block.title }}" class="imf-fluid" />
					{% else %}
						{{ block.html }}
					{% endif %}
					</a>
				</span>
				<span class="col">
					<span class="h6 mb-2 d-block title border-bottom pb-1"><a href="{{ block.link }}">{{ block.title }}</a></span>
					<span class="d-block description">{{ block.description }}</span>
				</span>
			</span>
					{% else %}
						<span class="row">
					<span class="col-auto">
						{% if not block.html %}
							<img src="{{ block.image }}" srcset="{{ block.image }} 1x, {{ block.image2x }} 2x, {{ block.image3x }} 3x, {{ block.image4x }} 4x" alt="{{ block.title }}" class="imf-fluid" />
						{% else %}
							{{ block.html }}
						{% endif %}
					</span>
					<span class="col">
						<span class="h6 mb-2 d-block title border-bottom pb-1">{{ block.title }}</span>
						<span class="m-0 d-block description">{{ block.description }}</span>
					</span>
				</span>
					{% endif %}
				</div>
			</div>
		</div>
	{% endfor %}

</div>
