<div class="xds-product-carousel-{{ module }} products-carousel product-items card mb-3">
	<div class="card-header px-2">
		<div class="h6 card-title m-0">
			<span class="si mr-2">
				{% if module_type == 'featured' %}
				<svg fill="#ccc" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
				<path d="M9,21h9c0.83,0,1.54-0.5,1.84-1.22l3.02-7.05C22.95,12.5,23,12.26,23,12v-2c0-1.1-0.9-2-2-2h-6.31l0.95-4.57l0.03-0.32
				c0-0.41-0.17-0.79-0.44-1.06L14.17,1L7.58,7.59C7.22,7.95,7,8.45,7,9v10C7,20.1,7.9,21,9,21z M9,9l4.34-4.34L12,10h9l0,2l-3,7H9V9
				z"/><rect x="1" y="9" width="4" height="12"/>
				</svg>
				{% endif %}
				{% if module_type == 'latest' %}
				<svg fill="#ccc" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
				<path d="M23,12l-2.44-2.78l0.34-3.68l-3.61-0.82L15.4,1.54L12,3L8.6,1.54L6.71,4.72L3.1,5.53l0.34,3.68L1,12l2.44,2.78L3.1,18.47
				l3.61,0.82l1.89,3.18L12,21l3.4,1.46l1.89-3.18l3.61-0.82l-0.34-3.68L23,12z M18.49,14.11l0.26,2.79l-2.74,0.62l-1.43,2.41
				L12,18.82l-2.58,1.11l-1.43-2.41l-2.74-0.62l0.26-2.8L3.66,12l1.85-2.12L5.25,7.1l2.74-0.61l1.43-2.41L12,5.18l2.58-1.11
				l1.43,2.41l2.74,0.62l-0.26,2.79L20.34,12L18.49,14.11z"/><rect x="11" y="15" width="2" height="2"/><rect x="11" y="7" width="2" height="6"/>
				</svg>
				{% endif %}
				{% if module_type == 'bestseller' %}
				<svg fill="#ccc" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
				<path d="M11.57,13.16c-1.36,0.28-2.17,1.16-2.17,2.41c0,1.34,1.11,2.42,2.49,2.42c2.05,0,3.71-1.66,3.71-3.71
				c0-1.07-0.15-2.12-0.46-3.12C14.35,12.23,12.94,12.88,11.57,13.16z"/><path d="M13.5,0.67c0,0,0.74,2.65,0.74,4.8c0,2.06-1.35,3.73-3.41,3.73C8.76,9.2,7.2,7.53,7.2,5.47l0.03-0.36
				C5.21,7.51,4,10.62,4,14c0,4.42,3.58,8,8,8s8-3.58,8-8C20,8.61,17.41,3.8,13.5,0.67z M12,20c-3.31,0-6-2.69-6-6
				c0-1.53,0.3-3.04,0.86-4.43c1.01,1.01,2.41,1.63,3.97,1.63c2.66,0,4.75-1.83,5.28-4.43C17.34,8.97,18,11.44,18,14
				C18,17.31,15.31,20,12,20z"/>
				</svg>
				{% endif %}
				{% if module_type == 'special' %}
				<svg fill="#ccc" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
				<path d="M21.41,11.58l-9-9C12.05,2.22,11.55,2,11,2H4C2.9,2,2,2.9,2,4v7c0,0.55,0.22,1.05,0.59,1.42l9,9 C11.95,21.78,12.45,22,13,22s1.05-0.22,1.41-0.59l7-7C21.78,14.05,22,13.55,22,13S21.77,11.94,21.41,11.58z M13,20.01L4,11V4h7 l0-0.01l9,9L13,20.01z"/><circle cx="6.5" cy="6.5" r="1.5"/>
				</svg>
				{% endif %}
				{% if module_type == 'viewed' %}
				<svg fill="#ccc" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
				<path d="M12,6.5c3.79,0,7.17,2.13,8.82,5.5c-1.65,3.37-5.02,5.5-8.82,5.5S4.83,15.37,3.18,12C4.83,8.63,8.21,6.5,12,6.5 M12,4.5 C7,4.5,2.73,7.61,1,12c1.73,4.39,6,7.5,11,7.5s9.27-3.11,11-7.5C21.27,7.61,17,4.5,12,4.5L12,4.5z"/><path d="M12,9.5c1.38,0,2.5,1.12,2.5,2.5s-1.12,2.5-2.5,2.5S9.5,13.38,9.5,12S10.62,9.5,12,9.5 M12,7.5c-2.48,0-4.5,2.02-4.5,4.5
				s2.02,4.5,4.5,4.5s4.5-2.02,4.5-4.5S14.48,7.5,12,7.5L12,7.5z"/>
				</svg>
				{% endif %}
			</span>
			{{ heading_title }}
			<div class="float-right">
				<div class="button-prev si d-inline-block">
					<svg class="d-block" fill="#ccc" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
						<path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path>
					</svg>
				</div>
				<div class="button-next si d-inline-block">
					<svg class="d-block" fill="#ccc" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
						<path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"></path>
					</svg>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body p-0">
		<div id="xds-product-carousel-{{ module }}" class="swiper-container">
			<div class="swiper-wrapper">
				{% for product in products %}
				{% if not (product.quantity <= 0 and hide_out_of_stock_products) %}
				<div class="swiper-slide h-auto">
					<div class="card product-carousel-item h-100 border-top-0 border-bottom-0 border-left-0 rounded-0 mx-auto">
						<div class="image position-relative px-2 px-sm-3 pt-2 pb-2">
							<a href="{{ product.href }}">
								<img src="{{ product.thumb }}" srcset="{{ product.thumb }} 1x, {{ product.thumb2x }} 2x, {{ product.thumb3x }} 3x, {{ product.thumb4x }} 4x" alt="{{ product.name }}" title="{{ product.name }}" class="img-fluid d-block mx-auto" />
							</a>
							{% if product.stickers %}
							<div class="stickers position-absolute">
								{% for sticker in product.stickers %}
								<div><span class="{{ sticker.class }}">{{ sticker.text }}</span></div>
								{% endfor %}
							</div>
							{% endif %}
						</div>
						<div class="card-body px-2 px-sm-3 pt-2 pb-0">
							<div class="caption">
								<h6 class="card-title"><a href="{{ product.href }}">{{ product.name }}</a></h6>
							</div>
						</div>
						<div class="card-footer px-2 px-sm-3 pb-2 pb-sm-3 pt-0 bg-white border-0">
							{% if product.price %}
							<div class="price">
								{% if not product.special %}
								<div class="h6 mb-1">{{ product.price }}</div>
								{% else %}
								<div class="h6 mb-1">
									<s class="d-inline-block text-danger font-weight-light">{{ product.price }}</s>
									<span class="d-inline-block">{{ product.special }}</span>
								</div>
								{% endif %}
								{% if product.tax %}
								<small class="font-weight-light text-muted d-block">{{ text_tax }} {{ product.tax }}</small>
								{% endif %}
							</div>
							{% endif %}
							<div class="btn-group btn-group-cart-add mt-2">
								<button type="button" class="btn btn-light btn-cart-add px-1" onclick="cart.add('{{ product.product_id }}');" {% if product.quantity <=0 and disable_btn_status %}disabled{% endif %} aria-label="{% if product.quantity <=0 and disable_btn_status %}{{ disable_btn_text }}{% else %}{{ button_cart }}{% endif %}">
									<span class="si si-rem">
											<svg width="24" height="24" viewBox="0 0 24 24" fill="#bbb"
												 xmlns="http://www.w3.org/2000/svg">
												<path d="M18.1883 17.8336C16.6524 17.8336 15.386 19.0731 15.386 20.636C15.386 22.1719 16.6255 23.4383 18.1883 23.4383C19.7242 23.4383 20.9907 22.1988 20.9907 20.636C20.9637 19.1001 19.7242 17.8336 18.1883 17.8336Z"/>
												<path d="M23.1194 4.46864C23.0655 4.46864 22.9846 4.4417 22.9038 4.4417H5.92804L5.65859 2.63634C5.49691 1.45073 4.47298 0.561523 3.26042 0.561523H1.07783C0.485022 0.561523 0 1.04655 0 1.63935C0 2.23215 0.485022 2.71718 1.07783 2.71718H3.26042C3.39515 2.71718 3.50294 2.82496 3.52988 2.95969L5.20051 14.3308C5.41608 15.7589 6.65558 16.8367 8.11064 16.8367H19.32C20.7212 16.8367 21.9338 15.8397 22.2302 14.4655L23.9816 5.70814C24.0894 5.14228 23.7122 4.57643 23.1194 4.46864Z"/>
												<path d="M11.3172 20.5012C11.2633 19.0192 10.0238 17.8336 8.54176 17.8336C6.97891 17.9145 5.7933 19.2078 5.84719 20.7437C5.90109 22.2258 7.11364 23.4114 8.59565 23.4114H8.64954C10.1854 23.3305 11.398 22.0371 11.3172 20.5012Z"/>
											</svg>
									</span>
									<span class="ml-1 mr-2 d-none d-md-inline text-muted">{% if product.quantity <=0 and disable_btn_status %}{{ disable_btn_text }}{% else %}{{ button_cart }}{% endif %}</span>
								</button>
								{% if 'fastorder' in show_buttons %}
								<button type="button" class="btn btn-light btn-cart-add px-1"  title="{{ g_text_fastorder }}" onclick="ft_fastorder('{{ product.product_id }}')" {% if product.quantity <=0 and disable_btn_status %}disabled{% endif %} aria-label="{{ g_text_fastorder }}">
									<span class="si si-rem">
										<svg fill="#bbb" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
											<path d="M15 1H9v2h6V1zm-4 13h2V8h-2v6zm8.03-6.61l1.42-1.42c-.43-.51-.9-.99-1.41-1.41l-1.42 1.42C16.07 4.74 14.12 4 12 4c-4.97 0-9 4.03-9 9s4.02 9 9 9 9-4.03 9-9c0-2.12-.74-4.07-1.97-5.61zM12 20c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/>
										</svg>
									</span>
								</button>
								{% endif %}
								{% if 'qview' in show_buttons %}
								<button type="button" class="btn btn-light btn-cart-add px-1" title="{{ g_text_qview }}" onclick="ft_qview('{{ product.product_id }}')" aria-label="{{ g_text_qview }}">
									<span class="si si-rem">
										<svg fill="#bbb" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
											<path d="M12,6.5c3.79,0,7.17,2.13,8.82,5.5c-1.65,3.37-5.02,5.5-8.82,5.5S4.83,15.37,3.18,12C4.83,8.63,8.21,6.5,12,6.5 M12,4.5 C7,4.5,2.73,7.61,1,12c1.73,4.39,6,7.5,11,7.5s9.27-3.11,11-7.5C21.27,7.61,17,4.5,12,4.5L12,4.5z"/><path d="M12,9.5c1.38,0,2.5,1.12,2.5,2.5s-1.12,2.5-2.5,2.5S9.5,13.38,9.5,12S10.62,9.5,12,9.5 M12,7.5c-2.48,0-4.5,2.02-4.5,4.5 s2.02,4.5,4.5,4.5s4.5-2.02,4.5-4.5S14.48,7.5,12,7.5L12,7.5z"/>
										</svg>
									</span>
								</button>
								{% endif %}
								{% if 'wishlist' in show_buttons or 'compare' in show_buttons  %}
								<div class="btn-group position-static">
									<div class="dropdown-menu" >
										{% if 'wishlist' in show_buttons %}
										<a href="#" class="dropdown-item pl-2 pr-3" onclick="wishlist.add('{{ product.product_id }}');return false">
											<span class="si si-rem mr-1">
												<svg fill="#bbb" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
													<path d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z"/>
												</svg>
											</span>
											{{ button_wishlist }}
										</a>
										{% endif %}
										{% if 'compare' in show_buttons %}
										<a href="#" class="dropdown-item pl-2 pr-3" onclick="compare.add('{{ product.product_id }}');return false">
											<span class="si si-rem mr-1">
												<svg fill="#bbb" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
													<path d="M10 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h5v2h2V1h-2v2zm0 15H5l5-6v6zm9-15h-5v2h5v13l-5-6v9h5c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/>
												</svg>
											</span>
											{{ button_compare }}
										</a>
										{% endif %}
									</div>
									<button type="button" class="btn btn-light btn-cart-add px-0" data-toggle="dropdown" data-flip="false" aria-label="more">
										<span class="si si-rem">
											<svg fill="#bbb" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
												<path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/>
											</svg>
										</span>
									</button>
								</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
	{% if pagination %}
	<div class="card-footer text-center text-sm-left px-3 py-2">
		<div class="swp-pagination"></div>
	</div>
	{% endif %}
</div>
<script>
$(function () {
	$('#xds-product-carousel-{{ module }}').swiper({
		mode: 'horizontal',
		roundLengths: true,
		slidesPerView: {{ breakpoints[1201] }},
		breakpoints: {
			380:  { slidesPerView: {{ breakpoints[380] }}  },
			576:  { slidesPerView: {{ breakpoints[576] }}  },
			768:  { slidesPerView: {{ breakpoints[768] }}  },
			992:  { slidesPerView: {{ breakpoints[992] }}  },
			1200: { slidesPerView: {{ breakpoints[1200] }} }
		},
		{% if pagination %}
		pagination: '.xds-product-carousel-{{ module }} .swp-pagination',
		{% endif %}
		paginationClickable: true,
		nextButton: '.xds-product-carousel-{{ module }} .button-next',
		prevButton: '.xds-product-carousel-{{ module }} .button-prev',
		{% if autoplay %}
		autoplay: {{ autoplay_speed }}
		{% endif %}
	});
});
</script>
