<style>

/* Begin box category cuong*/

ul.box-category-parent, ul.box-category-patent ul{
	list-style: none;
	margin: 0;
	padding: 0;
	border:1px solid #DDD;
	border-radius:3px;
}
ul.box-category-parent > li:first-child {
	border-top: none;
}
ul.box-category-parent > li{
	line-height:35px;
	border-width: 1px;
	border-style: solid;
	border-color: #DBDBDB;
	border-bottom: none;
	border-right: none;
	border-left: none;
}
ul.box-category-parent > ul li {
	padding: 0px 5px 0px 0px;
}
ul.box-category-parent > li .active {
	background:#f5f5f5;
}
ul.box-category-parent > li > a {
	display: block;
	text-decoration: none;
	letter-spacing: 1px;
	font-size: 12px;
	color: #222;
	padding-left: 7px;	
}
ul.box-category-parent > li > a:hover {
	color: #DD5151;
	border-color: #F17474;
}
ul.box-category-parent > li ul {
	display: block;
	list-style: none;
	padding: 0px 0px 0px 0px;
	margin:0;
}
ul.box-category-parent > li a.active {
	color: #DD5151;
	border-color: #F17474;
}
ul.box-category-parent > li a.active + ul {
	display: block;
}
ul.box-category-parent > li ul > li {
	padding: 0px 0px 0px 0px;
	border-top:1px solid #DDD;
}
ul.box-category-parent > li ul > li > a {
	text-decoration: none;
	letter-spacing: 1px;
	font-size: 12px;
	color: #222;
	display: block;
	padding-left:20px;
}
ul.box-category-parent > li ul > li > a:hover {
	color: #DD5151;
}
ul.box-category-parent > li ul > li > a.active {
	font-weight: normal;
}

ul.box-category-parent > li ul > li ul > li{
	border-top:1px solid #ddd;
}
ul.box-category-parent > li ul > li ul > li a{
	padding-left:30px;
}

/* End box category cuong*/
</style>

  <div>
    {{ category }}
  </div>

