#ft_menu .category-menu-list{border-top-left-radius:0;border-top-right-radius:0;border-top:0;transform:none!important;top:100%!important}
#ft_menu .category-menu-list:hover{display:block}
#ft_menu .category-menu-item{padding:0;border-top:1px solid rgba(0,0,0,.05)}
#ft_menu .category-menu-item.active > a{font-weight:600}
#ft_menu .category-menu-item > a{padding:.7rem 1rem;text-decoration:none}
#ft_menu .child-list-toggle{box-sizing:content-box;width:1.5rem;padding:.7rem .6rem}
#ft_menu .level-arrow{width:1.5rem}
#ft_menu .category-menu-item > .has-child{border-right:1px solid rgba(0,0,0,.05)}
#ft_menu .child-list-toggle > span{display:block;top:50%;left:50%;margin-left:-12px;margin-top:-12px}
#ft_menu .child-list-toggle >.child-list-hidden,#ft_menu .child-list-toggle.collapsed > .child-list-shown,#ft_menu .second-level-list.collapse,#ft_menu .third-level-list.collapse{display:none}
#ft_menu .child-list-toggle > .child-list-shown,#ft_menu .child-list-toggle.collapsed > .child-list-hidden,#ft_menu .second-level-list,#ft_menu .third-level-list,#ft_menu .second-level-list.collapse.show,#ft_menu .third-level-list.collapse.show{display:block}
#ft_menu .mobile-link-blocker{height:2.7rem;margin-top:-2.7rem}
.desktop #ft_menu .mobile-link-blocker{display:none!important}
#ft_menu .menu-icon-holder{width:20px;position:relative;display:block;margin-right:1rem}
#ft_menu .menu-icon-holder img{display:block;position:absolute;top:-2px;left:-2px}
#ft_menu .menu-icon-holder img.hover-icon{display:none}
#ft_menu .category-menu-item.hover > a .menu-icon-holder img.with-hover,#ft_menu .category-menu-item:hover > a .menu-icon-holder img.with-hover{display:none}
#ft_menu .category-menu-item.hover > a .menu-icon-holder img.hover-icon,#ft_menu .category-menu-item:hover > a .menu-icon-holder img.hover-icon{display:block}
@media (max-width: 991px) {
#ft_menu .category-menu-item a:active,#ft_menu .category-menu-item .child-list-toggle:active{background:rgba(0,0,0,.025)}
#ft_menu .category-menu-item > a.has-child{padding-right:.6rem;padding-left:1rem;margin-right:2.7rem}
#ft_menu .category-menu-item .second-level-list .cols-100{flex:0 0 100%!important;max-width:100%!important}
#ft_menu .category-menu-item.second-level > a{padding-left:1.5rem}
#ft_menu .category-menu-item.third-level > a{padding-left:3rem}
}
@media (min-width: 992px) {
#ft_menu .category-menu-item > a,#ft_menu .child-list-toggle{padding-top:.6rem;padding-bottom:.6rem}
#ft_menu .category-menu-item.hover > a{background:rgba(0,0,0,.025)}
#ft_menu .second-level-list{display:none;background:#fff;position:absolute;left:100%;top:-.375rem;min-height:110%;min-height:calc(100% + .75rem);border:1px solid rgba(0,0,0,.05);border-radius:.3rem;padding:.375rem 1.5rem;margin-left:-.187rem;z-index:1008;overflow:hidden;width:100%}
#ft_menu .second-level-list.two-cols{width:200%;width:calc(200% + 50px)}
#ft_menu .second-level-list.three-cols{width:300%;width:calc(300% + 70px)}
#ft_menu .category-menu-item.hover .second-level-list{display:block}
#ft_menu .category-menu-item > .has-child{position:relative;border-right:none}
#ft_menu .category-menu-item.hover > .has-child:after{content:"";position:absolute;right:0;top:0;height:100%;width:.75rem;background:rgba(255,255,255,1);z-index:1009}
#ft_menu .category-menu-item.hover > .has-child{background:linear-gradient(to right,rgba(0,0,0,.025) 70%,rgba(255,255,255,1) 90%)}
#ft_menu .second-level-list.one-col .cols-100:nth-child(1) > .category-menu-item,#ft_menu .category-menu-list .second-level-list.two-cols .cols-100:nth-child(-n+2) > .category-menu-item,#ft_menu .second-level-list.three-cols .cols-100:nth-child(-n+3) > .category-menu-item{border-top-color:transparent}
#ft_menu .third-level-list.collapse{display:block}
#ft_menu .third-level-list .category-menu-item{border:none}
#ft_menu .third-level-list .category-menu-item:last-child{margin-bottom:1rem}
.blured .m-blured{filter:blur(1px)}
.ft-menu-mask{left:0;top:0;height:0;width:0;background:rgba(0,0,0,1);visibility:hidden;opacity:0;transition:opacity .15s linear;z-index:9998}
.blured .ft-menu-mask{visibility:visible;opacity:.5;height:100%;width:100%;transition:opacity .15s linear}
.blured #ft_menu{z-index:9999}
}
#ft-header-contacts .comment-hide,#ft-modal-fastorder .comment-hide{right:0;top:0}
#ft-header-contacts .unbordered-link,#ft-modal-fastorder .unbordered-link{text-decoration:none}
.comment-hide svg{fill:#ccc;transition:fill ease .2s}
.comment-hide:hover svg{fill:#333}
#ft_search input{height: auto}
.search-blured #ft_search{box-shadow:2px 6px 12px rgba(0,0,0,0.175)}
.search-blured #ft_search .form-control:focus{border-color:#ced4da;box-shadow:none}
.livesearch{box-shadow:2px 6px 12px rgba(0,0,0,0.175)}
.livesearch .dropdown-item{white-space:normal}
.ft-search-mask{left:0;top:0;height:0;width:0;background:rgba(0,0,0,1);visibility:hidden;opacity:0;transition:opacity .15s linear;z-index:9998}
.search-blured .ft-search-mask{visibility:visible;opacity:.5;height:100%;width:100%;transition:opacity .15s linear}
.search-blured .ft_search-wrapper{z-index:9999}
#cart hr{margin-left:-1rem;margin-right:-1rem}
#cart .loading-icon,#cart.loading .static-icon{display:none}
#cart .static-icon,#cart.loading .loading-icon{display:inline-block}
#cart .alert{margin-top:-1rem;margin-left:-1rem;margin-right:-1rem;border-top:none;border-left:none;border-right:none;border-radius:0;padding:.75rem 1rem}
#cart .input-quantity{width:2.7rem}
#cart .cart-mask{display:none;position:absolute;top:0;left:0;right:0;bottom:0;bottom:0;padding-bottom:4.25rem;background:#fff;opacity:.3;z-index:3}
#cart.loading .cart-mask{display:block}
@media (min-width: 992px) {
#cart-total{margin:-.35rem 0}
#cart-total .loading-wrapper{display:block;margin-top:.35rem;margin-bottom:.35rem}
#cart-total .products,#cart-total .prices{display:block;line-height:1.25;font-size:.875rem}
}
#cart .close{margin-right:.375rem}
body.fm-open{overflow:hidden}
#f-map{height:9rem;margin-bottom:-2.75rem}
#f-map-mobile{margin-top:3rem}
#f-map .fm-toggle,#f-map-mobile .fm-toggle{left:50%;bottom:0;margin-left:-25px;margin-left:calc(-1rem - 11px)}
#f-map-mobile .fm-toggle{top:-15px;bottom:auto}
#f-map .fm-toggle > div,#f-map-mobile .fm-toggle > div{z-index:1}
#f-map .f-controls{display:none;top:0;left:0;right:0}
#f-map .f-glass{display:block;top:0;left:-5px;bottom:-5px;right:-5px;top:-5px}
#f-map .f-glass:before,#f-map .f-glass:after{content:"";position:absolute;top:0;left:0;bottom:0;right:0;background:linear-gradient(to right,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 50%,rgba(255,255,255,1) 100%)}
#f-map .f-glass:after{background:linear-gradient(to bottom,rgba(255,255,255,1) 5px,rgba(255,255,255,0) 100%)}
#f-map.fm-show{height:90vh}
#f-map.fm-show > .container{max-width:none;padding:0}
#f-map.fm-show .f-controls{display:block}
#f-map.fm-show .f-glass{display:none}
.custom-select{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23aaa' d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/%3E%3C/svg%3E");background-position:right .5rem center;background-size:1.275rem 1.275rem}
.btn-group-lg-ft > .btn,.btn-lg-ft{padding:.7rem 1rem;font-size:1rem;line-height:1.5}
.btn-group-sm-ft > .btn,.btn-sm-ft{padding:.25rem .5rem;font-size:1rem;line-height:1.375}
.btn-cart-add{padding:.25rem .5rem;font-size:1rem;line-height:1.5}
.btn-group-cart-add .dropdown-menu{position:absolute;transform:none!important;bottom:100%;top:auto!important;min-width:100%;margin:.125rem 0}
.toggle-svg-icon,.modal-h-icon{width:24px;position:relative}
.toggle-svg-icon:before,.modal-h-icon:before{content:"\00a0"}
.toggle-svg-icon svg,.modal-h-icon svg{display:block;position:absolute;top:50%;left:50%;margin-top:-12px;margin-left:-12px}
.toggle-svg-icon .toggle-svg-hidden,.toggle-svg-icon.collapsed .toggle-svg-shown{display:none}
.toggle-svg-icon .toggle-svg-shown,.toggle-svg-icon.collapsed .toggle-svg-hidden{display:block}
.ft-input-grope-iconic{position:relative}
.ft-input-grope-iconic .ft-icon-wrapper{position:absolute;width:2.5rem;height:100%;z-index:2}
.ft-input-grope-iconic .ft-icon{position:absolute;top:50%;left:50%;margin-top:-12px;margin-left:-12px;fill:#ccc}
.ft-input-grope-iconic .form-iconic{padding-left:2.5rem}
.spinner{animation:rotator 1.4s linear infinite}
.spinner > .path{stroke-dasharray:187;stroke-dashoffset:0;transform-origin:center;animation:dash 1.4s ease-in-out infinite,colors_dark 5.6s ease-in-out infinite}
.spinner.light > .path{animation:dash 1.4s ease-in-out infinite,colors_light 5.6s ease-in-out infinite}
@keyframes rotator {
0%{transform:rotate(0deg)}
100%{transform:rotate(270deg)}
}
@keyframes colors_colorful {
0%{stroke:#4285F4}
25%{stroke:#DE3E35}
50%{stroke:#F7C223}
75%{stroke:#1B9A59}
100%{stroke:#4285F4}
}
@keyframes colors_dark {
0%{stroke:#bbb}
25%{stroke:#bbb}
50%{stroke:#bbb}
75%{stroke:#bbb}
100%{stroke:#bbb}
}
@keyframes colors_light {
0%{stroke:#fff}
25%{stroke:#fff}
50%{stroke:#fff}
75%{stroke:#fff}
100%{stroke:#fff}
}
@keyframes dash {
0%{stroke-dashoffset:187}
50%{stroke-dashoffset:46.75;transform:rotate(135deg)}
100%{stroke-dashoffset:187;transform:rotate(450deg)}
}
