{{ header }}
<div id="account-login" class="container">
  {% if success %}
  <div class="alert alert-success alert-dismissible">
		{{ success }}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible">
		{{ error_warning }}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
  {% endif %}
  <div class="row">
		{% if column_left %}
		<div class="col-12 col-sm col-lg-3 order-lg-1 col-xl-mw260">
			{{ column_left }}
		</div>
		{% endif %}
		
		{% if column_right %}
		<div class="col-12 col-sm col-lg-3 order-lg-3 col-xl-mw260">
			{{ column_right }}
		</div>
		{% endif %}
		<div id="content" class="col-12 col-lg order-lg-2 mb-3">
			{{ content_top }}
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					{% set i = 0 %}
					{% for breadcrumb in breadcrumbs %}
					{% set i = i + 1 %}
					{% if i == 1 %}
					<li class="breadcrumb-item">
						<a href="{{ breadcrumb.href }}">
							<span class="si si-18 d-inline-block">
								<svg height="18" fill="#333" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
									<path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
								</svg>
							</span>
						</a>
					</li>
					{% elseif breadcrumbs|length != i %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
					{% else %}
					<li class="breadcrumb-item active">{{ breadcrumb.text }}</li>
					{% endif %}
					{% endfor %}
				</ol>
			</nav>
			<h1 class="h2 mb-4">{{ heading_title }}</h1>
			
			
      <div class="row">
				<div class="col-12 col-md-6 mb-4">
          <div class="card h-100">
						<div class="card-header">
							<h5 class="card-title mb-0">{{ text_returning_customer }}</h5>
						</div>
						<div class="card-body">
							<p>{{ text_i_am_returning_customer }}</p>
							<form action="{{ action }}" method="post" enctype="multipart/form-data">
								<div class="form-group">
									
									<input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
								</div>
								<div class="form-group">
									<input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
								</div>
								<input type="submit" value="{{ button_login }}" class="btn btn-primary px-5" />
								<a href="{{ forgotten }}" class="btn btn-link">{{ text_forgotten }}</a>
								{% if redirect %}
								<input type="hidden" name="redirect" value="{{ redirect }}" />
								{% endif %}
							</form>
						 </div>
          </div>
        </div>
        <div class="col-12 col-md-6 mb-4">
          <div class="card h-100">
						<div class="card-header">
							<h5 class="card-title mb-0">{{ text_new_customer }}</h5>
						</div>
						<div class="card-body">
							<p><strong>{{ text_register }}</strong></p>
							<p>{{ text_register_account }}</p>
							<a href="{{ register }}" class="btn btn-primary px-4">{{ button_continue }}</a>
						</div>
					</div>
        </div>
      </div>
      </div>
    </div>
	{{ content_bottom }}
</div>
{{ footer }}