{{ header }}
<div id="account-order" class="container">

  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">
		{% if column_left %}
		<div class="col-12 col-sm col-lg-3 order-lg-1 col-xl-mw260">
			{{ column_left }}
		</div>
		{% endif %}
		{% if column_right %}
		<div class="col-12 col-sm col-lg-3 order-lg-3 col-xl-mw260">
			{{ column_right }}
		</div>
		{% endif %}
    <div id="content" class="col-12 col-lg order-lg-2 mb-3">
			{{ content_top }}
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					{% set i = 0 %}
					{% for breadcrumb in breadcrumbs %}
					{% set i = i + 1 %}
					{% if i == 1 %}
					<li class="breadcrumb-item">
						<a href="{{ breadcrumb.href }}">
							<span class="si si-18 d-inline-block">
								<svg height="18" fill="#333" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
									<path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
								</svg>
							</span>
						</a>
					</li>
					{% elseif breadcrumbs|length != i %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
					{% else %}
					<li class="breadcrumb-item active">{{ breadcrumb.text }}</li>
					{% endif %}
					{% endfor %}
				</ol>
			</nav>
      <h1 class="h2 mb-4">{{ heading_title }}</h1>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th class="text-left" colspan="2">{{ text_order_detail }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-left" style="width: 50%;">{% if invoice_no %} <b>{{ text_invoice_no }}</b> {{ invoice_no }}<br />
              {% endif %} <b>{{ text_order_id }}</b> #{{ order_id }}<br />
              <b>{{ text_date_added }}</b> {{ date_added }}</td>
            <td class="text-left" style="width: 50%;">{% if payment_method %} <b>{{ text_payment_method }}</b> {{ payment_method }}<br />
              {% endif %}
              {% if shipping_method %} <b>{{ text_shipping_method }}</b> {{ shipping_method }} {% endif %}</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th class="text-left" style="width: 50%; vertical-align: top;">{{ text_payment_address }}</th>
            {% if shipping_address %}
            <th class="text-left" style="width: 50%; vertical-align: top;">{{ text_shipping_address }}</th>
            {% endif %} </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-left">{{ payment_address }}</td>
            {% if shipping_address %}
            <td class="text-left">{{ shipping_address }}</td>
            {% endif %} </tr>
        </tbody>
      </table>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th class="text-left">{{ column_name }}</th>
              <th class="text-left">{{ column_model }}</th>
              <th class="text-right">{{ column_quantity }}</th>
              <th class="text-right">{{ column_price }}</th>
              <th class="text-right">{{ column_total }}</th>
              {% if products %}
              <th style="width: 20px;"></th>
              {% endif %} </tr>
          </thead>
          <tbody>
          
          {% for product in products %}
          <tr>
            <td class="text-left">{{ product.name }}
              {% for option in product.option %} <br />
              &nbsp;<small> - {{ option.name }}: {{ option.value }}</small> {% endfor %}</td>
            <td class="text-left">{{ product.model }}</td>
            <td class="text-right">{{ product.quantity }}</td>
            <td class="text-right">{{ product.price }}</td>
            <td class="text-right">{{ product.total }}</td>
            <td class="text-right" style="white-space: nowrap;">{% if product.reorder %} <a href="{{ product.reorder }}" data-toggle="tooltip" title="{{ button_reorder }}" class="btn btn-primary">
						<span class="si si-rem">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="#bbb"
                                     xmlns="http://www.w3.org/2000/svg">
									<path d="M18.1883 17.8336C16.6524 17.8336 15.386 19.0731 15.386 20.636C15.386 22.1719 16.6255 23.4383 18.1883 23.4383C19.7242 23.4383 20.9907 22.1988 20.9907 20.636C20.9637 19.1001 19.7242 17.8336 18.1883 17.8336Z"
                                    />
									<path d="M23.1194 4.46864C23.0655 4.46864 22.9846 4.4417 22.9038 4.4417H5.92804L5.65859 2.63634C5.49691 1.45073 4.47298 0.561523 3.26042 0.561523H1.07783C0.485022 0.561523 0 1.04655 0 1.63935C0 2.23215 0.485022 2.71718 1.07783 2.71718H3.26042C3.39515 2.71718 3.50294 2.82496 3.52988 2.95969L5.20051 14.3308C5.41608 15.7589 6.65558 16.8367 8.11064 16.8367H19.32C20.7212 16.8367 21.9338 15.8397 22.2302 14.4655L23.9816 5.70814C24.0894 5.14228 23.7122 4.57643 23.1194 4.46864Z"
                                    />
									<path d="M11.3172 20.5012C11.2633 19.0192 10.0238 17.8336 8.54176 17.8336C6.97891 17.9145 5.7933 19.2078 5.84719 20.7437C5.90109 22.2258 7.11364 23.4114 8.59565 23.4114H8.64954C10.1854 23.3305 11.398 22.0371 11.3172 20.5012Z"
                                    />
								</svg>
						</span>
						</a> {% endif %} <a href="{{ product.return }}" data-toggle="tooltip" title="{{ button_return }}" class="btn btn-danger">
						<span class="si si-rem">
							<svg fill="#fff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
								<path d="M10 9V5l-7 7 7 7v-4.1c5 0 8.5 1.6 11 5.1-1-5-4-10-11-11z"/>
							</svg>
						</span>
						</td>
          </tr>
          {% endfor %}
          {% for voucher in vouchers %}
          <tr>
            <td class="text-left">{{ voucher.description }}</td>
            <td class="text-left"></td>
            <td class="text-right">1</td>
            <td class="text-right">{{ voucher.amount }}</td>
            <td class="text-right">{{ voucher.amount }}</td>
            {% if products %}
            <td></td>
            {% endif %} </tr>
          {% endfor %}
            </tbody>
          
          <tfoot>
          
          {% for total in totals %}
          <tr>
            <td colspan="3"></td>
            <td class="text-right"><b>{{ total.title }}</b></td>
            <td class="text-right">{{ total.text }}</td>
            {% if products %}
            <td></td>
            {% endif %} </tr>
          {% endfor %}
            </tfoot>
          
        </table>
      </div>
      {% if comment %}
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th class="text-left">{{ text_comment }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-left">{{ comment }}</td>
          </tr>
        </tbody>
      </table>
      {% endif %}
      {% if histories %}
      <h5>{{ text_history }}</h5>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th class="text-left">{{ column_date_added }}</th>
            <th class="text-left">{{ column_status }}</th>
            <th class="text-left">{{ column_comment }}</th>
          </tr>
        </thead>
        <tbody>
        
        {% if histories %}
        {% for history in histories %}
        <tr>
          <td class="text-left">{{ history.date_added }}</td>
          <td class="text-left">{{ history.status }}</td>
          <td class="text-left">{{ history.comment }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td colspan="3" class="text-center">{{ text_no_results }}</td>
        </tr>
        {% endif %}
          </tbody>
        
      </table>
      {% endif %}
      <div class="">
        <div class=""><a href="{{ continue }}" class="btn btn-primary px-4">{{ button_continue }}</a></div>
      </div>
      </div>
    </div>
	{{ content_bottom }}
</div>
{{ footer }}