{{ header }}
<div id="account-wishlist" class="container">
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  {% endif %}
  <div class="row">
	
		{% if column_left %}
		<div class="col-12 col-sm col-lg-3 order-lg-1 col-xl-mw260">
			{{ column_left }}
		</div>
		{% endif %}
		
		{% if column_right %}
		<div class="col-12 col-sm col-lg-3 order-lg-3 col-xl-mw260">
			{{ column_right }}
		</div>
		{% endif %}

		{% if column_left and column_right %}
    {% set class = 'col-lg-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-lg-9' %}
    {% else %}
    {% set class = 'col-lg' %}
    {% endif %}

    <div id="content" class="col-12 col-lg order-lg-2 mb-3">
			{{ content_top }}
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					{% set i = 0 %}
					{% for breadcrumb in breadcrumbs %}
					{% set i = i + 1 %}
					{% if i == 1 %}
					<li class="breadcrumb-item">
						<a href="{{ breadcrumb.href }}">
							<span class="si si-18 d-inline-block">
								<svg height="18" fill="#333" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
									<path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
								</svg>
							</span>
						</a>
					</li>
					{% elseif breadcrumbs|length != i %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
					{% else %}
					<li class="breadcrumb-item active">{{ breadcrumb.text }}</li>
					{% endif %}
					{% endfor %}
				</ol>
			</nav>
      <h1 class="h2 mb-4">{{ heading_title }}</h1>
      {% if products %}
			
			
      <div class="table-responsive mb-3">
        <table class="table table-bordered table-hover">
          <thead>
            <tr class="bg-light">
              <th  class="text-center">{{ column_image }}</th>
              <th  class="text-left">{{ column_name }}</th>
              <th  class="text-left">{{ column_model }}</th>
              <th  class="text-right">{{ column_stock }}</th>
              <th  class="text-right">{{ column_price }}</th>
              <th  class="text-right">{{ column_action }}</th>
            </tr>
          </thead>
          <tbody>
          
          {% for product in products %}
          <tr>
            <td class="text-center">{% if product.thumb %}<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /></a>{% endif %}</td>
            <td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a></td>
            <td class="text-left">{{ product.model }}</td>
            <td class="text-right">{{ product.stock }}</td>
            <td class="text-right">{% if product.price %}
              <div class="price"> {% if not product.special %}
                {{ product.price }}
                {% else %} <b>{{ product.special }}</b> <s>{{ product.price }}</s> {% endif %} </div>
              {% endif %}</td>
            <td class="text-right">
							<button type="button" onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}" class="btn btn-primary">
								<span class="si si-rem">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="#bbb"
                                     xmlns="http://www.w3.org/2000/svg">
									<path d="M18.1883 17.8336C16.6524 17.8336 15.386 19.0731 15.386 20.636C15.386 22.1719 16.6255 23.4383 18.1883 23.4383C19.7242 23.4383 20.9907 22.1988 20.9907 20.636C20.9637 19.1001 19.7242 17.8336 18.1883 17.8336Z"
                                    />
									<path d="M23.1194 4.46864C23.0655 4.46864 22.9846 4.4417 22.9038 4.4417H5.92804L5.65859 2.63634C5.49691 1.45073 4.47298 0.561523 3.26042 0.561523H1.07783C0.485022 0.561523 0 1.04655 0 1.63935C0 2.23215 0.485022 2.71718 1.07783 2.71718H3.26042C3.39515 2.71718 3.50294 2.82496 3.52988 2.95969L5.20051 14.3308C5.41608 15.7589 6.65558 16.8367 8.11064 16.8367H19.32C20.7212 16.8367 21.9338 15.8397 22.2302 14.4655L23.9816 5.70814C24.0894 5.14228 23.7122 4.57643 23.1194 4.46864Z"
                                    />
									<path d="M11.3172 20.5012C11.2633 19.0192 10.0238 17.8336 8.54176 17.8336C6.97891 17.9145 5.7933 19.2078 5.84719 20.7437C5.90109 22.2258 7.11364 23.4114 8.59565 23.4114H8.64954C10.1854 23.3305 11.398 22.0371 11.3172 20.5012Z"
                                    />
								</svg>
								</span>
					
							</button>
              <a href="{{ product.remove }}" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger">
								<span class="si si-rem">
									<svg fill="#fff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
										<path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
									</svg>
								</span>
						
							</a>
						</td>
          </tr>
          {% endfor %}
            </tbody>
        </table>
      </div>
      {% else %}
      <p>{{ text_empty }}</p>
      {% endif %}

      <div class="d-none">
        <a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a>
      </div>
    </div>
	</div>
	{{ content_bottom }}
</div>
{{ footer }}