{{ header }}
<div id="product-category" class="container mt-3">
  <div class="row">
		{% if column_left or menu_open %}
		<div class="col-12 col-sm col-lg-3 order-lg-1 col-xl-mw260">
			{% if menu_open %}
			<div class="menu-holder d-none d-lg-block mb-3"></div><script>function menu_open_holder(){$(".menu-holder").height($(".category-menu-list").outerHeight()-$(".menu-holder").offset().top+$(".category-menu-list").offset().top)}</script>
			{% endif %}
			{{ column_left }}
		</div>
		{% endif %}
		{% if column_right %}
		<div class="col-12 col-sm col-lg-3 order-lg-3 col-xl-mw260">
			{{ column_right }}
		</div>
		{% endif %}
    <div id="content" class="col-12 col-lg order-lg-2">
			{{ content_top }}
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					{% set i = 0 %}
					{% for breadcrumb in breadcrumbs %}
					{% set i = i + 1 %}
					{% if i == 1 %}
					<li class="breadcrumb-item">
						<a href="{{ breadcrumb.href }}" aria-label="Home">
							<span class="si si-18 d-inline-block">
								<svg height="18" fill="#333" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
									<path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
								</svg>
							</span>
						</a>
					</li>
					{% elseif breadcrumbs|length != i %}
					<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
					{% else %}
					<li class="breadcrumb-item active">{{ breadcrumb.text }}</li>
					{% endif %}
					{% endfor %}
				</ol>
			</nav>
			<h1 class="h2 mb-4">{{ heading_title }}</h1>
			<div class="mb-4">
				{% if description and not description_position %}
				<div class="row">
					{% if description %}
					<div class="col">{{ description }}</div>
					{% endif %}
				</div>
				{% endif %}
				<hr>
				{% if categories %}
					{% if equipment %}
						<h5 class="mb-3">{{ text_equipment }}</h5>
						<ul class="list-unstyled mb-0 mt-3">
							{% for category in categories %}
							<li class="category-list">
								<a href="{{ category.href }}" style="color:#333;display: block">{{ category.name }}</a>
							</li>
							{% endfor %}
						</ul>
					{% else %}
						<h5 class="mb-3">{{ text_refine }}</h5>
						<div class="subcategories-container">
							<div class="row">
								{% for category in categories %}
									<div class="subcategory-layout col-6 col-sm-4 col-lg-3 xl-5-cols">
										<div class="card subcategory h-100">
											{% if sub_cat_img_status %}
												<div class="card-body p-2">
													{% if category.image1x %}
														<a href="{{ category.href }}" aria-label="{{ category.name }}">
															<img src="{{ category.image1x }}"
																 srcset="{{ category.image1x }} 1x, {{ category.image2x }} 2x, {{ category.image3x }} 3x, {{ category.image4x }} 4x"
																 alt="{{ product.name }}" class="d-block mx-auto img-fluid"
																 alt="{{ category.name }}"/>
														</a>
													{% endif %}
													<a href="{{ category.href }}">{{ category.name }}</a>
												</div>
											{% endif %}
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					{% endif %}
					<hr>
				{% endif %}
			</div>


      {% if products %}
      <div class="mb-3">
				<div class="row no-gutters">
					<div class="col-auto col-sm-auto order-sm-3">
						<div class="btn-group ml-sm-2">
							<button type="button" id="ft-list-view" class="btn btn-light px-2 border-like-form" title="{{ button_list }}" onclick="list_view()" aria-label="{{ button_list }}">
								<span class="si si-rem">
									<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
										<path d="M4 10.5c-.83 0-1.5.67-1.5 1.5s.67 1.5 1.5 1.5 1.5-.67 1.5-1.5-.67-1.5-1.5-1.5zm0-6c-.83 0-1.5.67-1.5 1.5S3.17 7.5 4 7.5 5.5 6.83 5.5 6 4.83 4.5 4 4.5zm0 12c-.83 0-1.5.68-1.5 1.5s.68 1.5 1.5 1.5 1.5-.68 1.5-1.5-.67-1.5-1.5-1.5zM7 19h14v-2H7v2zm0-6h14v-2H7v2zm0-8v2h14V5H7z"/>
									</svg>
								</span>
							</button>
							<button type="button" id="ft-grid-view" class="btn btn-light px-2 border-like-form" title="{{ button_grid }}" onclick="grid_view()" aria-label="{{ button_grid }}">
								<span class="si si-rem">
									<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
										<path d="M4 8h4V4H4v4zm6 12h4v-4h-4v4zm-6 0h4v-4H4v4zm0-6h4v-4H4v4zm6 0h4v-4h-4v4zm6-10v4h4V4h-4zm-6 4h4V4h-4v4zm6 6h4v-4h-4v4zm0 6h4v-4h-4v4z"/>
									</svg>
								</span>
							</button>
						</div>
					</div>
					<div class="col col-sm-auto ml-sm-auto order-sm-2">
						<div class="form-group input-group input-group-sm mb-0">
							<div class="input-group">
								<div class="input-group-prepend ml-2">
									<span class="input-group-text px-2 bg-light" title="{{ text_limit }}">
										<span class="si si-rem">
											<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
												<path d="M3 5H1v16c0 1.1.9 2 2 2h16v-2H3V5zm18-4H7c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V3c0-1.1-.9-2-2-2zm0 16H7V3h14v14z"/>
											</svg>
										</span>
									</span>
								</div>
								<select id="input-limit" class="form-control custom-select" onchange="location = this.value;" aria-label="{{ text_limit }}">
									{% for limits in limits %}
									{% if limits.value == limit %}
									<option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
									{% else %}
									<option value="{{ limits.href }}">{{ limits.text }}</option>
									{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-auto order-sm-1 mt-2 mt-sm-0">
						<div class="form-group input-group input-group-sm mb-0">
							<div class="input-group">
								<div class="input-group-prepend">
									<span class="input-group-text px-2 bg-light" title="{{ text_sort }}">
										<span class="si si-rem">
											<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
												<path d="M3 18h6v-2H3v2zM3 6v2h18V6H3zm0 7h12v-2H3v2z"/>
											</svg>
										</span>
									</span>
								</div>
								<select id="input-sort" class="form-control custom-select" onchange="location = this.value;" aria-label="{{ text_sort }}">
									{% for sorts in sorts %}
									{% if sorts.value == '%s-%s'|format(sort, order) %}
									<option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
									{% else %}
									<option value="{{ sorts.href }}">{{ sorts.text }}</option>
									{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
      </div>
			<div class="products-container">
				{% for equipment in equipments %}
					<ul class="list-unstyled mb-0 mt-3">
						<li class="category-list">
							<a href="{{ equipment.href }}" style="color:#333;display: block">{{ equipment.name }}</a>
						</li>
					</ul>
				{% endfor %}
				<div class="row">
					{% for product in products %}
					<div class="product-layout product-items product-grid {% if column_right and column_left %} col-xl-4 col-lg-6 col-md-4 col-sm-4 col-6 {% elseif column_right or column_left %} col-xl-3 col-lg-4 col-sm-4 col-6 {% else %} col-lg-3 col-md-4 col-sm-4 col-6 {% endif %}">
						<div class="card h-100">
							<div class="image position-relative px-2 px-md-3 pt-2 pb-2">
								<a href="{{ product.href }}">
									<img src="{{ product.thumb }}" srcset="{{ product.thumb }} 1x, {{ product.thumb2x }} 2x, {{ product.thumb3x }} 3x, {{ product.thumb4x }} 4x" alt="{{ product.name }}" title="{{ product.name }}" class="img-fluid mx-auto d-block" />
								</a>
								{% if product.stickers %}
								<div class="stickers position-absolute">
									{% for sticker in product.stickers %}
									<div><span class="{{ sticker.class }}">{{ sticker.text }}</span></div>
									{% endfor %}
								</div>
								{% endif %}
							</div>
							<div class="card-body px-2 px-md-3 pt-2 pb-0">
								<div class="caption">
									<h6 class="card-title"><a href="{{ product.href }}">{{ product.name }}</a></h6>
									<div class="mb-1 alert {% if product.quantity > 0 %} alert-success {% else %} alert-danger {% endif %} py-2 px-3">
									{{ product.stock }}
									</div>
								</div>
							</div>
							<div class="card-footer px-2 px-md-3 pb-2 pb-md-3 pt-0 bg-white border-0">
								{% if product.price %}
								<div class="price">
									{% if not product.special %}
									<div class="h6 mb-1">{{ product.price }}</div>
									{% else %}
									<div class="h6 mb-1">
										<s class="d-inline-block text-danger font-weight-light">{{ product.price }}</s>
										<span class="d-inline-block">{{ product.special }}</span>
									</div>
									{% endif %}
								</div>
								{% endif %}
								{% if review_status %}
								<div class="rating mt-2">
									<div class="d-inline-block mr-1">
										{% for i in 1..5 %}
										{% if product.rating < i %}
										<span class="si si-rem si-rem-star">
											<svg fill="#ddd" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
												<path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/>
											</svg>
										</span>
										{% else %}
										<span class="si si-rem si-rem-star">
											<svg fill="#ffc107" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
												 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
											</svg>
										</span>
										{% endif %}
										{% endfor %}
									</div>
									<small class="d-inline-block">
										{% if product.reviews_href %}
										<a href="{{ product.reviews_href }}">{{ product.reviews }}</a>
										{% else %}
										<span class="text-muted">{{ product.reviews }}</span>
										{% endif %}
									</small>
								</div>
								{% endif %}
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<button type="button" class="btn btn-lg btn-block btn-showmore border btn-light mb-3 d-none text-muted" onclick="showmore()">
				<span class="si loading-icon mr-2">
					<svg class="spinner dark" width="24" height="24" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
						 <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
					</svg>
				</span>
				{{ g_text_showmore }}
			</button>
			<div class="row pr-container">
				<div class="col-12 col-md-auto ml-md-auto order-md-2 text-center text-md-left">
					<div class="d-table w-100 h-100">
						<div class="d-table-cell w-100 h-100 align-middle">
							<div class="results text-muted mb-3">{{ results }}</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-auto order-md-1 text-center text-md-left">
					<nav>
						{{ pagination }}
					</nav>
				</div>
			</div>
			{% endif %}



			{% if description and description_position %}
			<hr>
			<div class="row">
				{% if description %}
				<div class="col">{{ description }}</div>
				{% endif %}
			</div>
			{% endif %}




			{% if not categories and not products %}
			<div>
				<p>{{ text_empty }}</p>
				<div class="buttons">
					<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
	{{ content_bottom }}
</div>
<script>
	function show_btn_showmore() {
		if ($('.pagination .active').next('li').length > 0) {
			$('.btn-showmore').removeClass('d-none');
		}
	}

	function showmore() {
		var $next = $('.pagination .active').next('li').find('a');
		    pl_class = $('.products-container').find('.product-layout').first().attr('class');

        url = $next.attr('href');
        url = url.replace(/(^\w+:|^)/, '');

		if ($next.length == 0) {
			return;
		}

		$.ajax({
			url: url,
			beforeSend: function() {
				$('.btn-showmore').addClass('loading');
				$('.btn-showmore').attr('disabled','diasbled');
			},
			success: function(data) {

				$('.btn-showmore').removeClass('loading');
				$('.btn-showmore').removeAttr('disabled');

				history.replaceState(null, null, url);

				$data = $(data);

				var $container = $('.product-layout').parent();

				$products = $data.find('.product-layout');

				$products.each(function() {
					$(this).removeAttr('class');
					$(this).addClass(pl_class);
				});

				$container.append($products);

				$('.pagination').html($data.find('.pagination'));
				$('.results span').html($data.find('.results span'));

				if ($('.pagination .active').next('li').length == 0) {
					$('.btn-showmore').addClass('d-none');
				}

				$data.filter('script').each(function () {
					if ((this.text || this.textContent || this.innerHTML).indexOf("document.write") >= 0) {
						return;
					}
					$.globalEval(this.text || this.textContent || this.innerHTML || '');
				});

			},
			error: function(xhr, ajaxOptions, thrownError) {
				alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
			}
		});

		return false;
	}

	$(function () {
		show_btn_showmore();
	});

	$(document).ready(function () {
		let h1Tag = $('h1').text();
		$('.products-container li a').filter(function () {
			if ($(this).text() === h1Tag) {
				return true;
			}
		}).replaceWith(function (){
			$(this).parent().css({
				"border": "0",
				"background": "rgba(0,0,0,0)",
				"box-shadow": "2px -2px 5px 0 rgba(220,53,69,.3), -2px -2px 5px 0 rgba(220,53,69,.3), 2px 2px 5px 0 rgba(220,53,69,.3), -2px 2px 5px 0 rgba(220,53,69,.3)"
		});
			return $("<p/>")
					.text($(this).text())
					.css("marginBottom", "0");
		});
	})

</script>
<style>
	.category-list {
		padding: 7px 20px;
		margin-bottom: 10px;
		border-radius: 5px;
		border-left: 10px solid #dc3545;
		box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
		-2px -2px 5px 0 rgba(0,0,0,.1),
		2px 2px 5px 0 rgba(0,0,0,.1),
		-2px 2px 5px 0 rgba(0,0,0,.1);
		font-size: 14px;
		transition: 0.3s all linear;
		background: rgba(0,0,0,0.1);
	}
	.category-list:hover {border-left: 10px solid transparent;}
	.category-list:hover {border-right: 10px solid #dc3545;}
</style>
{{ footer }}
