{% if contacts_status %}
<div class="d-table w-100 h-100">
	<div class="d-table-cell w-100 h-100 align-middle">
		<div id="h-contacts" class="text-center text-lg-left">
			<div class="tab-content">
				<div class="tab-pane active" id="tab-contacts">
					<div>
						<p class="my-2"></p>
						<div class="row no-gutters">
							<div class="col-auto">
								<div class="d-table w-100 h-100">
									<div class="d-table-cell w-100 h-100 align-middle">
										<div class="h5 m-0 mr-3">
											<img class="d-block" src="image/cache/catalog/baner/MTC-24x24.png"
												 srcset="image/cache/catalog/baner/MTC-24x24.png 1x, image/cache/catalog/baner/MTC-48x48.png 2x, image/cache/catalog/baner/MTC-72x72.png 3x, image/cache/catalog/baner/MTC-96x96.png 4x"
												 alt="" />
										</div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="d-table w-100 h-100">
									<div class="d-table-cell w-100 h-100 text-left">
										<div class="h6 m-0"><a href="tel:+375298366776" style="color: black;">+375 29 836-67-76</a></div>
									</div>
								</div>
							</div>
						</div>
						<p class="my-2"></p>
						<div class="row no-gutters">
							<div class="col-auto">
								<div class="d-table w-100 h-100">
									<div class="d-table-cell w-100 h-100 align-middle">
										<div class="h5 m-0 mr-3">
											<img class="d-block" src="image/cache/catalog/baner/Velcom-24x24.png"
												 srcset="image/cache/catalog/baner/Velcom-24x24.png 1x, image/cache/catalog/baner/Velcom-48x48.png 2x, image/cache/catalog/baner/Velcom-72x72.png 3x, image/cache/catalog/baner/Velcom-96x96.png 4x"
												 alt="" />
										</div>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="d-table w-100 h-100">
									<div class="d-table-cell w-100 h-100 text-left">
										<div class="h6 m-0"><a href="tel:+375445396776" style="color: black;">+375 44 539-67-76</a></div>
									</div>
								</div>
							</div>
						</div>
						<p class="my-2"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}	