<div id="cart" class="mb-3">
  <button type="button" class="btn btn-lg-ft btn-primary btn-block" {% if not in_cart %} data-toggle="modal" {% endif %} data-target="#ft-popup-cart" data-loading="{{ text_loading }}">
		<span class="row no-gutters">
			<span class="col-auto">
				<span class="cart-icon-wrapper mr-3">
					<span class="si loading-icon">
						<svg class="spinner light" width="24" height="24" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
							 <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
						</svg>
					</span>

					<span class="si static-icon">
						<svg width="24" height="24" viewBox="0 0 24 24" fill="#bbb"
							 xmlns="http://www.w3.org/2000/svg">
							<path d="M18.1883 17.8336C16.6524 17.8336 15.386 19.0731 15.386 20.636C15.386 22.1719 16.6255 23.4383 18.1883 23.4383C19.7242 23.4383 20.9907 22.1988 20.9907 20.636C20.9637 19.1001 19.7242 17.8336 18.1883 17.8336Z"/>
							<path d="M23.1194 4.46864C23.0655 4.46864 22.9846 4.4417 22.9038 4.4417H5.92804L5.65859 2.63634C5.49691 1.45073 4.47298 0.561523 3.26042 0.561523H1.07783C0.485022 0.561523 0 1.04655 0 1.63935C0 2.23215 0.485022 2.71718 1.07783 2.71718H3.26042C3.39515 2.71718 3.50294 2.82496 3.52988 2.95969L5.20051 14.3308C5.41608 15.7589 6.65558 16.8367 8.11064 16.8367H19.32C20.7212 16.8367 21.9338 15.8397 22.2302 14.4655L23.9816 5.70814C24.0894 5.14228 23.7122 4.57643 23.1194 4.46864Z"/>
							<path d="M11.3172 20.5012C11.2633 19.0192 10.0238 17.8336 8.54176 17.8336C6.97891 17.9145 5.7933 19.2078 5.84719 20.7437C5.90109 22.2258 7.11364 23.4114 8.59565 23.4114H8.64954C10.1854 23.3305 11.398 22.0371 11.3172 20.5012Z"/>
						</svg>
					</span>

				</span>
			</span>
			<span class="col">
				<span id="cart-total" class="d-block text-center text-lg-left">{{ text_items }}</span>
			</span>
			<span class="col-auto">
				<span class="si si-tin si-rem si-arrow">
					<svg fill="#fff" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
						<path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
					</svg>
				</span>
			</span>
		</span>
	</button>
	<div class="modal fade" id="ft-popup-cart" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header no-gutters">
					<div class="col-auto">
						<div class="h5 modal-h-icon modal-title mr-3">
							<span class="loading-icon">
								<svg class="spinner" width="24px" height="24px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
									 <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
								</svg>
							</span>
							<span class="static-icon">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="#bbb"
									 xmlns="http://www.w3.org/2000/svg">
									<path d="M18.1883 17.8336C16.6524 17.8336 15.386 19.0731 15.386 20.636C15.386 22.1719 16.6255 23.4383 18.1883 23.4383C19.7242 23.4383 20.9907 22.1988 20.9907 20.636C20.9637 19.1001 19.7242 17.8336 18.1883 17.8336Z"/>
									<path d="M23.1194 4.46864C23.0655 4.46864 22.9846 4.4417 22.9038 4.4417H5.92804L5.65859 2.63634C5.49691 1.45073 4.47298 0.561523 3.26042 0.561523H1.07783C0.485022 0.561523 0 1.04655 0 1.63935C0 2.23215 0.485022 2.71718 1.07783 2.71718H3.26042C3.39515 2.71718 3.50294 2.82496 3.52988 2.95969L5.20051 14.3308C5.41608 15.7589 6.65558 16.8367 8.11064 16.8367H19.32C20.7212 16.8367 21.9338 15.8397 22.2302 14.4655L23.9816 5.70814C24.0894 5.14228 23.7122 4.57643 23.1194 4.46864Z"/>
									<path d="M11.3172 20.5012C11.2633 19.0192 10.0238 17.8336 8.54176 17.8336C6.97891 17.9145 5.7933 19.2078 5.84719 20.7437C5.90109 22.2258 7.11364 23.4114 8.59565 23.4114H8.64954C10.1854 23.3305 11.398 22.0371 11.3172 20.5012Z"/>
								</svg>
							</span>
						</div>
					</div>
					<div class="col">
						<h5 class="modal-title">
							{{ ft_heading_title }}
						</h5>
					</div>
					<div class="col-auto">
						<div class="h5 modal-title modal-h-icon" data-dismiss="modal">
							<svg class="d-block position-absolute" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
								<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
							</svg>
						</div>
					</div>
				</div>
				<div class="modal-body">
					<div class="cart-list">
						{% if products or vouchers %}
						<div class="cart-list-product">
							{% for product in products %}
							<div class="row">
								<div class="col-auto">
									{% if product.thumb %}
									<a href="{{ product.href }}" class="ml-1">
										<img src="{{ product.thumb }}" srcset="{{ product.thumb }} 1x, {{ product.thumb2x }} 2x, {{ product.thumb3x }} 3x, {{ product.thumb4x }} 4x" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail" />
									</a>
									{% endif %}
								</div>
								<div class="col">
									<div class="row">
										<div class="col ">
											<div class="mb-2">
												<div class="row no-gutters">
													<div class="col">
														<a href="{{ product.href }}" class=""><strong>{{ product.name }}</strong></a>
														<div>
															{% if product.option %}
															{% for option in product.option %}
															<small class="d-inline-block bg-light text-secondary border-like-form pl-2 pr-2">{{ option.name }}: {{ option.value }}</small>
															{% endfor %}
															{% endif %}
															{% if product.recurring %}
															<small class="d-inline-block bg-light text-secondary border-like-form pl-2 pr-2">{{ text_recurring }}: {{ product.recurring }}</small>
															{% endif %}
														</div>
													</div>
													<div class="col-auto">
														<button type="button" class="close ml-2 d-sm-none" onclick="cart.remove('{{ product.cart_id }}');">×</button>
													</div>
												</div>
											</div>
										</div>
										<div class="col-12 col-sm-auto ">
											<div class="mr-3 mb-2 text-left text-sm-right">
												<strong>{{ product.total }}</strong>
											</div>
											<div class="form-row mr-1">
												<div class="col-auto ml-sm-auto">
													<div class="input-group input-group-sm">
														<div class="input-group-prepend">
															<button class="btn btn-light border-like-form px-1" type="button" onclick="cart.updatePopup('{{ product.cart_id }}','{{ product.quantity_minus }}');">
																<span class="si si-rem">
																	<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
																		<path d="M19 13H5v-2h14v2z"/>
																	</svg>
																</span>
															</button>
														</div>
														<input type="text" class="form-control input-quantity text-center" placeholder="" value="{{ product.quantity }}" onchange="cart.updatePopup('{{ product.cart_id }}', $(this).val());">
														<div class="input-group-append">
															<button class="btn btn-light border-like-form px-1" type="button" onclick="cart.updatePopup('{{ product.cart_id }}','{{ product.quantity_plus }}');">
																<span class="si si-rem">
																	<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
																		<path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
																	</svg>
																</span>
															</button>
															<button class="btn btn-light border-like-form px-1" type="button" onclick="cart.remove('{{ product.cart_id }}');" title="{{ button_remove }}" >

																<span class="si si-rem">
																	<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
																		<path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
																	</svg>
																</span>
															</button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<hr>
							{% endfor %}
							{% for voucher in vouchers %}
							<div class="row">
								<div class="col-auto">
									<div class="ml-2">
										<span class="si si-rem">
											<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
												<path d="M20 6h-2.18c.11-.31.18-.65.18-1 0-1.66-1.34-3-3-3-1.05 0-1.96.54-2.5 1.35l-.5.67-.5-.68C10.96 2.54 10.05 2 9 2 7.34 2 6 3.34 6 5c0 .35.07.69.18 1H4c-1.11 0-1.99.89-1.99 2L2 19c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V8c0-1.11-.89-2-2-2zm-5-2c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zM9 4c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm11 15H4v-2h16v2zm0-5H4V8h5.08L7 10.83 8.62 12 11 8.76l1-1.36 1 1.36L15.38 12 17 10.83 14.92 8H20v6z"/>
											</svg>
										</span>
									</div>
								</div>
								<div class="col">
									<div class="text-center">{{ voucher.description }}</div>
								</div>
								<div class="col-auto">
									<span class="d-none d-sm-block mr-2" onclick="voucher.remove('{{ voucher.key }}');">
										<span class="si si-rem">
											<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
												<path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/>
											</svg>
										</span>
									</span>
									<button type="button" class="close d-block d-sm-none" onclick="voucher.remove('{{ voucher.key }}');">×</button>
								</div>
							</div>
							<hr>
							{% endfor %}
						</div>
						<div class="cart-totals">
							<button class="btn btn-light btn-block" data-toggle="collapse" data-target="#totals-details">
								<span class="si si-rem loading-icon mr-1">
									<svg class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
										 <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
									</svg>
								</span>
								<span class="si si-rem static-icon mr-1">
									<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
										<path fill="#bbb" d="M19 2h-4.18C14.4.84 13.3 0 12 0c-1.3 0-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-7 0c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm7 18H5V4h2v3h10V4h2v16z"/>
									</svg>
								</span>

								{{ text_items }}
								<span class="si si-rem">
									<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
										<path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
									</svg>
								</span>
							</button>
							<div id="totals-details" class="collapse">
								<hr>
								{% for total in totals %}
								<div class="row no-gutters">
									<div class="col text-right"><span class="mr-2">{{ total.title }}:</span></div>
									<div class="col text-left"><strong>{{ total.text }}</strong></div>
								</div>
								{% endfor %}
							</div>
						</div>
						{% else %}
						<div class="cart-empty text-center p-3">
							<span class="si si-rem loading-icon mr-2">
								<svg class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
									 <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
								</svg>
							</span>
							{{ ft_text_empty }}
						</div>
						{% endif %}
					</div>
					<div class="cart-mask"></div>
				</div>
				<div class="modal-footer">
					<div class="row">
						<div class="col-12 col-sm-4 order-sm-3">
							<a class="btn btn-primary btn-block mb-3 mb-sm-0" href="{{ checkout }}">{{ ft_text_checkout }}</a>
						</div>

						<div class="col-5 col-sm-4 order-sm-1">
							<a href="#" class="btn btn-light btn-block" data-dismiss="modal">{{ ft_text_continue }}</a>
						</div>
						<div class="col-7 col-sm-4 order-sm-2">
							<a class="btn btn-light btn-block" href="{{ cart }}">{{ ft_text_cart }}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
