{% if product_isset %}
<div class="modal-header no-gutters">
	<div class="col-auto">
		<div class="h5 modal-title modal-h-icon mr-2">
			<a href="{{ product_href }}">
				<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
					<path d="M15 1H9v2h6V1zm-4 13h2V8h-2v6zm8.03-6.61l1.42-1.42c-.43-.51-.9-.99-1.41-1.41l-1.42 1.42C16.07 4.74 14.12 4 12 4c-4.97 0-9 4.03-9 9s4.02 9 9 9 9-4.03 9-9c0-2.12-.74-4.07-1.97-5.61zM12 20c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"></path>
				</svg>
			</a>
		</div>
	</div>
	<div class="col">
		<h5 class="modal-title"><a href="{{ product_href }}">{{ heading_title }}</a></h5>
	</div>
	<div class="col-auto">
		<div class="h5 modal-title modal-h-icon ml-2" data-dismiss="modal">
			<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
				<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
			</svg>
		</div>
	</div>
</div>
<div class="modal-body">
	<div class="fastorder-content">
		<div class="row no-gutters">
			<div class="col-12 col-sm">
				{% if thumb %}
				<div class="p-3 pr-sm-0">
					<img src="{{ thumb }}" srcset="{{ thumb }} 1x, {{ thumb2x }} 2x, {{ thumb3x }} 3x, {{ thumb4x }} 4x" title="{{ heading_title }}" alt="{{ heading_title }}" class="img-fluid d-block mx-auto"  />
				</div>
				{% endif %}
				<hr class="d-sm-none m-0">
			</div>
			<div class="col-12 col-sm">
				<div class="d-table w-100 h-100">
					<div class="d-table-cell w-100 h-100 align-middle">
						<div class="px-4 py-3 px-sm-3 pb-sm-0">
							{% if price %}
							<div class="">
								{% if not special %}
								<div class="h4 m-0">{{ price }}</div>
								{% else %}
								<strike class="text-danger">{{ price }}</strike>
								<div class="h4 m-0">{{ special }}</div>
								{% endif %}
								{% if tax %}
								<div class="text-muted font-weight-light mt-1">{{ text_tax }} {{ tax }}</div>
								{% endif %}
							</div>
							{% endif %}
						</div>
						<hr class="d-sm-none m-0">
						<div class="px-4 py-3 px-sm-3">
							<form id="ft-fastorder-form">
								<div class="mb-2">
									<div class="ft-input-grope-iconic">
										<span class="ft-icon-wrapper">
											<svg class="ft-icon" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
												<path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
											</svg>
										</span>
										<input type="text" name="f_name" class="form-control form-iconic" placeholder="{{ entry_name }} {{ entry_required }}" value="{{ customer_name }}">
									</div>
								</div>
								{% if show_mail %}
								<div class=" mb-2 d-none">
									<div class="ft-input-grope-iconic">
										<span class="ft-icon-wrapper">
											<svg class="ft-icon" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
												<path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 14H4V8l8 5 8-5v10zm-8-7L4 6h16l-8 5z"/>
											</svg>
										</span>
										<input type="email" name="f_email" class="form-control form-iconic" placeholder="{{ entry_email }} {{ entry_required }}" value="{{ customer_email }}">
									</div>
								</div>
								{% endif %}
								{% if show_phone %}
								<div class=" mb-2">
									<div class="ft-input-grope-iconic">
										<span class="ft-icon-wrapper">
											<svg class="ft-icon" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
												<path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/>
											</svg>
										</span>
										<input type="tel" name="f_phone" data-mask="{{ phone_mask }}" class="form-control form-iconic" placeholder="{{ entry_phone }} {{ entry_required }}" value="{{ customer_telephone }}">
									</div>
								</div>
								{% endif %}
								<div class="comment-show">
									<a href="#ft-modal-fastorder-comment" class="unbordered-link d-block" data-toggle="collapse" onclick="$('#ft-modal-fastorder .comment-show').slideToggle(350)">{{ text_comment }}</a>
								</div>
								<div class="collapse position-relative" id="ft-modal-fastorder-comment">
									<div class="comment-hide position-absolute p-2">
										<a data-toggle="collapse" href="#ft-modal-fastorder-comment" onclick="$('#ft-modal-fastorder .comment-show').slideToggle(350)">
											<svg class="d-block" height="18" width="18" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
												<path d="M12 7c2.76 0 5 2.24 5 5 0 .65-.13 1.26-.36 1.83l2.92 2.92c1.51-1.26 2.7-2.89 3.43-4.75-1.73-4.39-6-7.5-11-7.5-1.4 0-2.74.25-3.98.7l2.16 2.16C10.74 7.13 11.35 7 12 7zM2 4.27l2.28 2.28.46.46C3.08 8.3 1.78 10.02 1 12c1.73 4.39 6 7.5 11 7.5 1.55 0 3.03-.3 4.38-.84l.42.42L19.73 22 21 20.73 3.27 3 2 4.27zM7.53 9.8l1.55 1.55c-.05.21-.08.43-.08.65 0 1.66 1.34 3 3 3 .22 0 .44-.03.65-.08l1.55 1.55c-.67.33-1.41.53-2.2.53-2.76 0-5-2.24-5-5 0-.79.2-1.53.53-2.2zm4.31-.78l3.15 3.15.02-.16c0-1.66-1.34-3-3-3l-.17.01z"/>
											</svg>
										</a>
									</div>
									<textarea name="f_comment" class="form-control pr-5" rows="3" placeholder="{{ entry_comment }}"></textarea>
								</div>
								<input type="hidden" name="product_id" value="{{ product_id }}" />
								<input type="hidden" name="f_quantity" class="fo-quantity" value="{{ minimum }}" />
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer text-right px-4 px-sm-3">
	<div class="row">
		{% if fastorder_quantity_status %}
		<div class="col-5 col-sm-3 order-sm-2">
			<div class="input-group mb-3 mb-lg-0">
				<div class="input-group-prepend">
					<button class="btn btn-light border px-0 px-sm-1" type="button" onclick="ft_countupd('-1', '{{ minimum }}', '.fo-quantity')">
						<span class="si si-18 d-block">
							<svg fill="#aaa" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
								<path d="M19 13H5v-2h14v2z"/>
							</svg>
						<span>
					</button>
				</div>
				<input type="text" name="quantity" value="{{ minimum }}" class="fo-quantity form-control border text-center" />
				<div class="input-group-append">
					<button class="btn btn-light border px-0 px-sm-1" type="button" onclick="ft_countupd('1', '{{ minimum }}', '.fo-quantity')">
						<span class="si si-18 d-block">
							<svg fill="#aaa" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
								<path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
							</svg>
						<span>
					</button>
				</div>
			</div>
		</div>
		{% endif %}
		<div class="col{% if fastorder_quantity_status %}-7{% endif %} col-sm order-sm-3 mb-3 mb-sm-0">
			<button id="ft-fastorder-send" type="button" class="btn btn-primary btn-block" onclick="ft_fastorder_send()">
				<span class="si si-18 loading-icon mr-2">
					<svg class="spinner light" width="18" height="18" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
						 <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
					</svg>
				</span>
				{{ text_send_button }}
			</button>
		</div>
		<div class="col-12 col-sm order-sm-1">
			<button type="button" class="btn btn-light btn-block" data-dismiss="modal">{{ text_back }}</button>
		</div>
	</div>
</div>

<script>

	if (typeof ft_fastorder_send != 'function') {
		function ft_fastorder_send() {

			$('#ft-fastorder-form input').removeClass('border-danger');
			$('#ft-fastorder-form .text-danger').remove();

			$.ajax({
				url: 'index.php?route=extension/module/frametheme/ft_fastorder/fastorder',
				type: 'post',
				data: $('#ft-fastorder-form').serialize(),
				dataType: 'json',
				beforeSend: function() {
					$('#ft-fastorder-send').addClass('loading').attr('disabled','diasbled');
				},
				complete: function() {
					$('#ft-fastorder-send').removeClass('loading').removeAttr('disabled');
				},
				success: function(json) {

					if (!json['error']) {

						$('#ft-modal-fastorder .modal-body').html('<div class="py-5 text-center">' + json['success'] + '</div>');
						$('#ft-modal-fastorder .modal-footer').remove();

					} else {

						if (json['error']['name']) {
							$('#ft-fastorder-form input[name=\'f_name\']').addClass('border-danger');
							$('#ft-fastorder-form input[name=\'f_name\']').parent().after('<small class="d-block text-danger">' + json['error']['name'] + '</small>');
						}

						if (json['error']['email']) {
							$('#ft-fastorder-form input[name=\'f_email\']').addClass('border-danger');
							$('#ft-fastorder-form input[name=\'f_email\']').parent().after('<small class="d-block text-danger">' + json['error']['email'] + '</small>');
						}

						if (json['error']['phone']) {
							$('#ft-fastorder-form input[name=\'f_phone\']').addClass('border-danger');
							$('#ft-fastorder-form input[name=\'f_phone\']').parent().after('<small class="d-block text-danger">' + json['error']['phone'] + '</small>');
						}

					}

				},
				error: function(xhr, ajaxOptions, thrownError) {
					console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}

	}

	if ($('input[data-mask]').length > 0) {
		if (typeof jQuery().mask != 'function') {
			$.getScript("catalog/view/theme/{{ theme_dir }}/javascript/plugins/masked-input/jquery.maskedinput.min.js", function( data, textStatus, jqxhr ) {
				$('input[data-mask]').each(function() {
					$(this).mask($(this).attr('data-mask'));
				});
			});
		} else {
			$('input[data-mask]').each(function() {
				$(this).mask($(this).attr('data-mask'));
			});
		}
	}

	$('#ft-modal-fastorder').on('shown.bs.collapse', function () {
		$(this).find('textarea').focus();
	});

</script>

{% else %}
<div class="modal-header no-gutters">
	<div class="col-auto">
		<div class="h5 modal-title modal-h-icon mr-2">

				<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
					<path d="M11 15h2v2h-2zm0-8h2v6h-2zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/>
				</svg>

		</div>
	</div>
	<div class="col">
		<h5 class="modal-title">
			{{ text_not_found }}
		</h5>
	</div>
	<div class="col-auto">
		<div class="h5 modal-title modal-h-icon ml-2" data-dismiss="modal">
			<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
				<path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
			</svg>
		</div>
	</div>
</div>
<div class="modal-body">
	<div class="p-5 text-center">{{ text_error }}</div>
</div>
<div class="modal-footer text-right">
	<button type="button" class="btn btn-light" data-dismiss="modal">{{ text_back }}</button>
</div>
{% endif %}
