<div class="container">
	<div class="card">
		<div class="card-body p-4 pt-5 bg-white rounded">
			<div class="row">
				{% if informations %}
				<div class="col-12 col-sm-6 col-lg-3">
					<div class="mb-3 mb-lg-3">
						<div class="row no-gutters">
							<div class="col-auto">
								
							</div>
							<div class="col">
								<div class="h5 mb-0">
									{{ text_information }}
								</div>
							</div>
							<div class="col-auto">
								<span class="toggle-svg-icon d-block d-sm-none" data-toggle="collapse" data-target="#collapse-info">
									<span class="toggle-svg-hidden">
										<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
											<path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
										</svg>
									</span>
									<span class="toggle-svg-shown">
										<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
											<path d="M19 13H5v-2h14v2z"/>
										</svg>
									</span>
								</span>
							</div>
						</div>
						<div class="collapse show collapse-xs" id="collapse-info">
							<ul class="list-unstyled mb-0 mt-3">
								{% for information in informations %}
								<li class="pb-1">
									<span class="si si-tin si-18 mr-2">
										<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
											<path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path>
										</svg>
									</span>
									<a href="{{ information.href }}">{{ information.title }}</a>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<hr class="d-sm-none">
				</div>
				{% endif %}
				<div class="col-12 col-sm-6 col-lg-3">
					<div class="mb-3 mb-lg-3">
						<div class="row no-gutters">
							<div class="col-auto">
								
							</div>
							<div class="col">
								<div class="h5 mb-0">
									{{ text_service }}
								</div>
							</div>
							<div class="col-auto">
								<span class="toggle-svg-icon collapsed d-block d-sm-none" data-toggle="collapse" data-target="#collapse-service">
									<span class="toggle-svg-hidden">
										<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
											<path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
										</svg>
									</span>
									<span class="toggle-svg-shown">
										<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
											<path d="M19 13H5v-2h14v2z"/>
										</svg>
									</span>
								</span>
							</div>
						</div>
						<div class="collapse collapse-xs" id="collapse-service">
							<ul class="list-unstyled mb-0 mt-3">
								<li class="pb-1">
									<span class="si si-tin si-18 mr-2">
										<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
											<path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path>
										</svg>
									</span>
									<a href="{{ contact }}">{{ text_contact }}</a>
								</li>
								<li class="pb-1">
									<span class="si si-tin si-18 mr-2">
										<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
											<path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path>
										</svg>
									</span>
									<a href="{{ return }}">{{ text_return }}</a>
								</li>
								<li class="pb-1">
									<span class="si si-tin si-18 mr-2">
										<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
											<path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path>
										</svg>
									</span>
									<a href="{{ sitemap }}">{{ text_sitemap }}</a>
								</li>
							</ul>
						</div>
					</div>
					<hr class="d-sm-none">
				</div>
				<div class="col-12 d-none d-sm-block d-lg-none"><hr class="mb-4"></div>
				<div class="col-12 col-sm-6 col-lg-3">
					<div class="mb-3 mb-lg-3">
						<div class="row no-gutters">
							<div class="col-auto">
								
							</div>
							<div class="col">
								<div class="h5 mb-0">
									Сотрудничество
								</div>
							</div>
							<div class="col-auto">
								<span class="toggle-svg-icon collapsed d-block d-sm-none" data-toggle="collapse" data-target="#collapse-extra">
									<span class="toggle-svg-hidden">
										<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
											<path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
										</svg>
									</span>
									<span class="toggle-svg-shown">
										<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
											<path d="M19 13H5v-2h14v2z"/>
										</svg>
									</span>
								</span>
							</div>
						</div>
						<div class="collapse collapse-xs" id="collapse-extra">
							<ul class="list-unstyled mb-0 mt-3">
								<li class="pb-1">
									<span class="si si-tin si-18 mr-2">
										<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
											<path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path>
										</svg>
									</span>
									<a href="/optovym-pokupatelam">Для оптовых покупателей</a>
								</li>

							</ul>
						</div>
					</div>
					<hr class="d-sm-none">
				</div>
				<div class="col-12 col-sm-6 col-lg-3">
					<div class="mb-3 mb-lg-3">
						<div class="row no-gutters">
							<div class="col-auto">
								
							</div>
							<div class="col">
								<div class="h5 mb-0">
									{{ text_account }}
								</div>
							</div>
							<div class="col-auto">
								<span class="toggle-svg-icon collapsed d-block d-sm-none" data-toggle="collapse" data-target="#collapse-account">
									<span class="toggle-svg-hidden">
										<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
											<path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
										</svg>
									</span>
									<span class="toggle-svg-shown">
										<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
											<path d="M19 13H5v-2h14v2z"/>
										</svg>
									</span>
								</span>
							</div>
						</div>
						<div class="collapse collapse-xs" id="collapse-account">
							<ul class="list-unstyled mb-0 mt-3">
								<li class="pb-1">
									<span class="si si-tin si-18 mr-2">
										<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
											<path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path>
										</svg>
									</span>
									<a href="{{ account }}">{{ text_account }}</a>
								</li>
								<li class="pb-1">
									<span class="si si-tin si-18 mr-2">
										<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
											<path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path>
										</svg>
									</span>
									<a href="{{ order }}">{{ text_order }}</a>
								</li>
								<li class="pb-1">
									<span class="si si-tin si-18 mr-2">
										<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
											<path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path>
										</svg>
									</span>
									<a href="{{ wishlist }}">{{ text_wishlist }}</a>
								</li>
								<li class="pb-1">
									<span class="si si-tin si-18 mr-2">
										<svg fill="#aaa" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
											<path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path>
										</svg>
									</span>
									<a href="{{ newsletter }}">{{ text_newsletter }}</a>
								</li>
							</ul>
						</div>
					</div>
					<hr class="d-sm-none">
				</div>
			</div>
			<hr class="d-none d-sm-block">
			<div class="row">
				{% if pay_icons and pay_icons_status %}
				<div class="col-12 col-lg">
					<div class="d-table w-100 h-100">
						<div class="d-table-cell w-100 h-100 align-middle">
							<hr class="d-lg-none">
							<ul class="list-inline text-left text-lg-right m-0 f-pay-icons">
								{% for pay_icon in pay_icons %}
								<li class="list-inline-item mt-2">
									{% if pay_icon.link %}
									<a href="{{ pay_icon.link }}">
										<img src="{{ pay_icon.image }}" srcset="{{ pay_icon.image }} 1x, {{ pay_icon.image2x }} 2x, {{ pay_icon.image3x }} 3x, {{ pay_icon.image4x }} 4x" alt="{{ pay_icon.title }}" class="img-fluid">
									</a>
									{% else %}
										<img src="{{ pay_icon.image }}" srcset="{{ pay_icon.image }} 1x, {{ pay_icon.image2x }} 2x, {{ pay_icon.image3x }} 3x, {{ pay_icon.image4x }} 4x" alt="{{ pay_icon.title }}" class="img-fluid">
									{% endif %}
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				{% endif %}
			</div>
			<div class="row">
				<div class="col text-center">
					<div class="copyright">{{  post.published_at|date ( 'Y' ) }}  &copy; <a href="http://softindustry.by">Разработка сайта <span>SoftIndustry</span></a></div>
				</div>
			</div>
		</div>
	</div>
</div>