.form-group {
  padding: 0;
}
.form-group + .form-group{
  border-top: none;
}
label{
  font-weight: normal;
}
hr{
  margin-top: 10px;
  margin-bottom: 10px;
}
.on-off{
  width: 40px;
  text-align:center;
  display: block;
}
.nowrap{
  white-space: nowrap;
}
.input-group+.input-group{
  margin-top: -1px;
}
thead, th {
  background: #f5f5f5;
  vertical-align: middle!important;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    padding-top: 0px;
  }
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border-bottom: none;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 5px;
}
.table thead td {
  font-weight: normal;
}
.img-thumbnail img {
  max-width: 46px;
}
.logo-thumb .img-thumbnail img {
  max-width: 100px;
  width: 100px;
}
.table thead td span[data-toggle="tooltip"]:after, label.control-label span:after {
  content: "\f29c";
}
.w-1{
  width:1%;
}
pre {
  border:none;
  border-radius: 0;
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
}
.nav-pills{
  margin-bottom: 40px;
}
.nav-pills > li > a {
  background-color: #fafafa;
}
@media (min-width: 1200px) {
  .nav-pills > li > a {
    text-align: right
  }
}
.well{
  margin: 0;
}
.well .checkbox{
  padding-top: 2px;
  padding-bottom: 2px;
  min-height: auto;
}
.panel-body{
  position: relative;
}
body.loading .panel-body:after{
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255,255,255,.5);
  z-index: 999;
}
.l-icon {
  display: none;
}
body.loading .l-icon{
  display: inline-block;
}
body.loading .s-icon{
  display: none;
}
.alert-dismissable .close, .alert-dismissible .close{
  top:0;
}
.alert .fa {
  margin-right: 5px;
}
.alert a {
  color: #c72f1d;
  text-decoration: underline;
  font-weight: bold;
}

.CodeMirror.cm-s-cust-css{
  min-height: 600px;
  border: 1px solid #ddd;
}








/* spinners */

.spinner-type0 {
  width: 40px;
  height: 40px;
  background-color: #bbb;
  margin: 0px auto;
}

label:hover .spinner-type0{
  background-color: #777;
  -webkit-animation: st0-rotateplane 1.2s infinite ease-in-out;
  animation: st0-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes st0-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes st0-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.spinner-type1 {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 0 auto;
}

.spinner-type1 > .double-bounce1,
.spinner-type1 > .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #bbb;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
}

label:hover .spinner-type1 > .double-bounce1,
label:hover .spinner-type1 > .double-bounce2 {
  background-color: #777;
  -webkit-animation: st1-bounce 2.0s infinite ease-in-out;
  animation: st1-bounce 2.0s infinite ease-in-out;
}

label:hover .spinner-type1 > .double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes st1-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}


.spinner-type2 {
  margin: 0 auto;

  height: 40px;
  text-align: center;
  font-size: 0;
}

.spinner-type2 > div {
  background-color: #bbb;
  height: 100%;
  transform: scaleY(0.4);
  width: 5px;
  margin: 0 1px;
  display: inline-block;
}

label:hover .spinner-type2 > div {
  background-color: #777;
  -webkit-animation: st2-stretchdelay 1.2s infinite ease-in-out;
  animation: st2-stretchdelay 1.2s infinite ease-in-out;
}

label:hover .spinner-type2 .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

label:hover .spinner-type2 .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

label:hover .spinner-type2 .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

label:hover .spinner-type2 .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes st2-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes st2-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.spinner-type3 {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  background-color: #bbb;
  opacity: 0.75;
  transform: scale(0.75);
  border-radius: 100%;
}

label:hover .spinner-type3 {
  background-color: #777;
  opacity: 1;
  transform: scale(1.0);
  -webkit-animation: st3-scaleout 1.0s infinite ease-in-out;
  animation: st3-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes st3-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes st3-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}


.sk-fading-circle {
  margin: 0 auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #bbb;
  border-radius: 100%;
}

label:hover .sk-fading-circle .sk-circle:before{
  background-color: #777;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg);
}
label:hover .sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
label:hover .sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
label:hover .sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
label:hover .sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
label:hover .sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
label:hover .sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
label:hover .sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
label:hover .sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
label:hover .sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
label:hover .sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
label:hover .sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

.spinner-type5 {
  margin: 11px auto 11px;
  width: 70px;
  text-align: center;
  font-size: 0;
}

.spinner-type5 > div {
  width: 18px;
  height: 18px;
  background-color: #bbb;
  border-radius: 100%;
  display: inline-block;
  margin: 0 2px;
}

label:hover .spinner-type5 > div{
  background-color: #777;
  -webkit-animation: st5-bouncedelay 1.4s infinite ease-in-out both;
  animation: st5-bouncedelay 1.4s infinite ease-in-out both;
}

label:hover .spinner-type5 .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

label:hover .spinner-type5 .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes st5-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes st5-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
