.upload-statusbar {
border: 1px solid #0ba1b5;
margin-top: 10px;
width: 420px;
margin-right: 10px;
margin: 5px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
padding: 5px 5px 5px 5px
}
.upload-filename {
width: 100%;
height: auto;
margin: 0 5px 5px 10px;
color: #807579
}
.upload-progress {
margin: 0 10px 5px 10px;
position: relative;
width: 250px;
padding: 1px;
border-radius: 3px;
display: inline-block;
background-color: #0ba1b5;
}
.upload-bar {
background-color: rgb(255, 0, 186);
width: 0;
height: 20px;
border-radius: 3px;
color:#FFFFFF;
}
.upload-percent {
position: absolute;
display: inline-block;
top: 3px;
left: 48%;

}
.upload-red {
-moz-box-shadow: inset 0 39px 0 -24px #e67a73;
-webkit-box-shadow: inset 0 39px 0 -24px #e67a73;
box-shadow: inset 0 39px 0 -24px #e67a73;
background-color: #e4685d;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
display: inline-block;
color: #fff;
font-family: arial;
font-size: 13px;
font-weight: normal;
padding: 4px 15px;
text-decoration: none;
text-shadow: 0 1px 0 #b23e35;
cursor: pointer;
vertical-align: top;
margin-right:5px;
}
.upload-green {
background-color: #77b55a;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
margin: 0;
padding: 0;
display: inline-block;
color: #fff;
font-family: arial;
font-size: 13px;
font-weight: normal;
padding: 4px 15px;
text-decoration: none;
cursor: pointer;
text-shadow: 0 1px 0 #5b8a3c;
vertical-align: top;
margin-right:5px;
}

.upload {
   background:#000;
   cursor:pointer;
   border-radius:5px;
   vertical-align:middle;
   padding-top:10px;
   height:40px;
   width:120px;
   text-align:center;
   color:#FFF;
   font-size:14px;
}

