{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-attribute" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-category" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <li><a href="#tab-data" data-toggle="tab">{{ tab_data }}</a></li>
			<li><a href="#tab-image" data-toggle="tab">Photo</a></li>
            <li><a href="#tab-design" data-toggle="tab">{{ tab_design }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active in" id="tab-general">
              <ul class="nav nav-tabs" id="language">
                {% for language in languages %}
                <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
                {% endfor %}
              </ul>
              <div class="tab-content">
                {% for language in languages %}
                <div class="tab-pane" id="language{{ language.language_id }}">
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-name{{ language.language_id }}">{{ entry_name }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="album_description[{{ language.language_id }}][name]" value="{{ album_description[language.language_id] ? album_description[language.language_id].name }}" placeholder="{{ entry_name }}" id="input-name{{ language.language_id }}" class="form-control" />
                      {% if error_name[language.language_id] %}
					  <div class="text-danger">{{ error_name[language.language_id] }}</div>
					  {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-description{{ language.language_id }}">{{ entry_description }}</label>
                    <div class="col-sm-10">
                      <textarea name="album_description[{{ language.language_id }}][description]" placeholder="{{ entry_description }}" id="input-description{{ language.language_id }}" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ album_description[language.language_id] ? album_description[language.language_id].description }}</textarea>
                    </div>
                  </div>
                  <div class="form-group required">
                    <label class="col-sm-2 control-label" for="input-meta-title{{ language.language_id }}">{{ entry_meta_title }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="album_description[{{ language.language_id }}][meta_title]" value="{{ album_description[language.language_id] ? album_description[language.language_id].meta_title }}" placeholder="{{ entry_meta_title }}" id="input-meta-title{{ language.language_id }}" class="form-control" />
                      {% if error_meta_title[language.language_id] %}
                      <div class="text-danger">{{ error_meta_title[language.language_id] }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-meta-description{{ language.language_id }}">{{ entry_meta_description }}</label>
                    <div class="col-sm-10">
                      <textarea name="album_description[{{ language.language_id }}][meta_description]" rows="5" placeholder="{{ entry_meta_description }}" id="input-meta-description{{ language.language_id }}" class="form-control">{{ album_description[language.language_id] ? album_description[language.language_id].meta_description }}</textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-meta-keyword{{ language.language_id }}">{{ entry_meta_keyword }}</label>
                    <div class="col-sm-10">
                      <textarea name="album_description[{{ language.language_id }}][meta_keyword]" rows="5" placeholder="{{ entry_meta_keyword }}" id="input-meta-keyword{{ language.language_id }}" class="form-control">{{ album_description[language.language_id] ? album_description[language.language_id].meta_keyword }}</textarea>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="tab-pane fade" id="tab-data">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-parent">{{ entry_parent }}</label>
                <div class="col-sm-10">
                  <input type="text" name="path" value="{{ path }}" placeholder="{{ entry_parent }}" id="input-parent" class="form-control" />
                  <input type="hidden" name="parent_id" value="{{ parent_id }}" />
                </div>
              </div>
			  
			  <div class="form-group">
                <label class="col-sm-2 control-label" for="input-parent">Pop up Width</label>
                <div class="col-sm-10">
                  <input type="text" name="pop_width" value="{{ pop_width }}" placeholder="Pop up width" class="form-control" />
                </div>
              </div>
			  
			  <div class="form-group">
                <label class="col-sm-2 control-label">Pop up Height</label>
                <div class="col-sm-10">
                  <input type="text" name="pop_height" value="{{ pop_height }}" placeholder="Pop up height" class="form-control" />
                </div>
              </div>
			  
			  <div class="form-group">
                <label class="col-sm-2 control-label" >Thumb width</label>
                <div class="col-sm-10">
                  <input type="text" name="thum_width" value="{{ thum_width }}" placeholder="Thumb width" class="form-control" />
                </div>
              </div>
			  
			  <div class="form-group">
                <label class="col-sm-2 control-label" >Thumb height</label>
                <div class="col-sm-10">
                  <input type="text" name="thum_height" value="{{ thum_height }}" placeholder="Thumb height" class="form-control" />
                </div>
              </div>
            
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_store }}</label>
                <div class="col-sm-10">
                  <div class="well well-sm" style="height: 150px; overflow: auto;"> {% for store in stores %}
                    <div class="checkbox">
                      <label> {% if store.store_id in album_store %}
                        <input type="checkbox" name="album_store[]" value="{{ store.store_id }}" checked="checked" />
                        {{ store.name }}
                        {% else %}
                        <input type="checkbox" name="album_store[]" value="{{ store.store_id }}" />
                        {{ store.name }}
                        {% endif %}</label>
                    </div>
                    {% endfor %}</div>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_image }}</label>
                <div class="col-sm-10"><a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                  <input type="hidden" name="image" value="{{ image }}" id="input-image" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-top"><span data-toggle="tooltip" title="{{ help_top }}">{{ entry_top }}</span></label>
                <div class="col-sm-10">
                  <div class="checkbox">
                    <label>{% if top %}
                      <input type="checkbox" name="top" value="1" checked="checked" id="input-top" />
                      {% else %}
                      <input type="checkbox" name="top" value="1" id="input-top" />
                      {% endif %}
                      &nbsp;</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-column"><span data-toggle="tooltip" title="{{ help_column }}">{{ entry_column }}</span></label>
                <div class="col-sm-10">
                  <input type="text" name="column" value="{{ column }}" placeholder="{{ entry_column }}" id="input-column" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                <div class="col-sm-10">
                  <input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <select name="status" id="input-status" class="form-control">
                    {% if status %}
                    <option value="1" selected="selected">{{ text_enabled }}</option>
                    <option value="0">{{ text_disabled }}</option>
                    {% else %}
                    <option value="1">{{ text_enabled }}</option>
                    <option value="0" selected="selected">{{ text_disabled }}</option>
                    {% endif %}
                  </select>
                </div>
              </div>
            </div>
			<!-- begin tab image -->
			<div class="tab-pane" id="tab-image">
			
			  <div class="panel-body">
				<div class="row">
					<div class="col-sm-6">
					  <div class="form-group">
						<label class="control-label" for="input-name">Folder Name: (key in folder name if do not exit will be created)</label>
						<input type="text" name="folderName" value="" placeholder="Image/catalog/" id="input-name" class="form-control" />
					  </div>
					</div>
					<div class="col-sm-6">
						<div id="status">Multiple images upload</div>
						<div id="btn_img" class="upload">Upload Images</div>
					</div>
				</div>
				
			   </div>
			  
              <div class="table-responsive">
                <table id="images" class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left">{{ entry_image }}</td>
					  <td class="text-left">Title</td>
					  <td class="text-left">Description</td>
                      <td class="text-right">{{ entry_sort_order }}</td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody>
				  {% set image_row = 0 %}
				  {% for album_images in album_imagess %}
                  <tr id="image-row{{ image_row }}">
					<input type="hidden" name="album_images[{{ image_row }}][album_images_id]" value="{{ album_images.album_images_id }}" />
                    <td class="text-left"><a href="" id="thumb-image{{ image_row }}" data-toggle="image" class="img-thumbnail"><img src="{{ album_images.thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
                      <input type="hidden" name="album_images[{{ image_row }}][image]" value="{{ album_images.image }}" id="input-image{{ image_row }}" /></td>
                    <td class="text-right">
					{% for language in languages %}
					<input type="text" name="album_images[{{ image_row }}][album_images_description][{{ language.language_id }}][title]" value="{{ album_images['album_images_description'][language.language_id].title }}" /> <img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" />
					{% endfor %}
					</td>
					<td class="text-right">
					{% for language in languages %}
					<input type="text" name="album_images[{{ image_row }}][album_images_description][{{ language.language_id }}][description]" value="{{ album_images['album_images_description'][language.language_id].description }}" /> <img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" />
					{% endfor %}
					</td>
	
					<td class="text-right"><input type="text" name="album_images[{{ image_row }}][sort_order]" value="{{ album_images.sort_order }}" placeholder="{{ entry_sort_order }}" class="form-control" /></td>
                    <td class="text-left"><button type="button" onclick="$('#image-row{{ image_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
                  </tr>
                  {% set image_row = image_row + 1 %}
                  {% endfor %}
				  
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="4"></td>
                      <td class="text-left"><button type="button" onclick="addImage();" data-toggle="tooltip" title="Add" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
			  
			  
            </div>
			<!-- end tab image -->
			<div class="tab-pane" id="tab-design">
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <td class="text-left">{{ entry_store }}</td>
                      <td class="text-left">{{ entry_layout }}</td>
                    </tr>
                  </thead>
                  <tbody>
                  
                  {% for store in stores %}
                  <tr>
                    <td class="text-left">{{ store.name }}</td>
                    <td class="text-left"><select name="album_layout[{{ store.store_id }}]" class="form-control">
                        <option value=""></option>
                        {% for layout in layouts %}
                        {% if album_layout[store.store_id] and album_layout[store.store_id] == layout.layout_id %}
                        <option value="{{ layout.layout_id }}" selected="selected">{{ layout.name }}</option>
                        {% else %}
                        <option value="{{ layout.layout_id }}">{{ layout.name }}</option>
                        {% endif %}
                        {% endfor %}
                      </select></td>
                  </tr>
                  {% endfor %}
                    </tbody>
                  
                </table>
              </div>
            </div>
           
          </div>
        </form>
      </div>
    </div>
  </div>
<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script> 
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script> 
<script type="text/javascript"><!--
var image_row = {{ image_row }};

function addImage() {
	
	html  = '<tr id="image-row' + image_row + '"><input id="imgvalue' + image_row + '" type="hidden" name="album_images[' + image_row + '][album_images_id]" value="" />';
	html += '  <td class="text-left"><a href="" id="thumb-image' + image_row + '" data-toggle="image" class="img-thumbnail"><img width="100px" height="100px" id="imgsrc' + image_row + '" src="{{ placeholder }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="album_images[' + image_row + '][image]" value="" id="input-image' + image_row + '" /></td>';
	html += '  <td class="text-right">';
	{% for language in languages %}
	html += '<input type="text" name="album_images[' + image_row + '][album_images_description][{{ language.language_id }}][title]" value="" /> <img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" />';
    {% endfor %}
	html += '  </td>';
	html += '  <td class="text-right">';
	{% for language in languages %}
	html += '<input type="text" name="album_images[' + image_row + '][album_images_description][{{ language.language_id }}][description]" value="" /> <img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" />';
    {% endfor %}
	html += '  </td>';
	html += '  <td class="text-right"><input type="text" name="album_images[' + image_row + '][sort_order]" value="" placeholder="{{ entry_sort_order }}" class="form-control" /></td>';
	html += '  <td class="text-left"><button type="button" onclick="$(\'#image-row' + image_row  + '\').remove();" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
	html += '</tr>';
	
	$('#images tbody').append(html);
	
	image_row++;
}
//--></script> 

<script type="text/javascript"><!--
var settings = {
	url: 'index.php?route=tool/multipleupload&user_token={{ user_token }}&foldername=' + $('input[name=\'folderName\']').val(),
	method: "POST",
	allowedTypes:"jpg,png,gif",
	fileName: "myfile",
	multiple: true,
	maxFileSize:-1,
	maxFileCount:-1,
	showDelete:false,
	showProgress:true,
	showDone:true,
	dataType: 'json',
	beforeSend: function(b,s){
		
	},
	onSuccess:function(files,data,xhr)
	{
		$("#status").html("<font color='green'>Success: All image have been uploaded!</font>");
		var obj = JSON.parse(data);
		//alert(data);
		addImage();
		var row = image_row - 1;
		var imgv = obj['output'] + files;
		var imgl = obj['server'] + 'image/' + obj['output'] + files;
		$('#input-image' + row).val(imgv);
		$('#imgsrc' + row).attr("src",imgl);
		$('.upload-statusbar').remove();
	},
	onError: function(files,status,errMsg)
	{		
		$("#status").html("<font color='red'>Upload is Failed</font>");
	}
}
//$('#btn_img').uploadFile(settings);

$('#btn_img').uploadFile(settings);

//--></script> 

<script type="text/javascript"><!--
function setFolder(){
	folderName = $('input[name=\'folderName\']').val();
	//alert(folderName);
		$.ajax({
			url: 'index.php?route=tool/multipleupload/setFolder&user_token={{ user_token }}&folder=' +  encodeURIComponent(folderName),
			dataType: 'json',
			success: function(json) {
				//alert(folderName);
				//alert(json['success']);
			}
		});
}

$('input[name=\'folderName\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=tool/multipleupload/getFolder&user_token={{ user_token }}&folderName=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['key']
					}
				}));
			},
			error: function(){
				alert('You do not have permission access multipleupload.php file (place in controller/tool). Please set permission for this file in user group!');
			}
		});
	},
	'select': function(item) {
		$('input[name=\'folderName\']').val(item.label);
	}
});
//--></script> 

  <script type="text/javascript"><!--
$('input[name=\'path\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/album/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				json.unshift({
					album_id: 0,
					name: '{{ text_none }}'
				});

				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['album_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'path\']').val(item['label']);
		$('input[name=\'parent_id\']').val(item['value']);
	}
});
//--></script> 
  <script type="text/javascript"><!--
$('input[name=\'filter\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=catalog/filter/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['filter_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'filter\']').val('');

		$('#category-filter' + item['value']).remove();

		$('#category-filter').append('<div id="category-filter' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="category_filter[]" value="' + item['value'] + '" /></div>');
	}
});

$('#category-filter').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});
//--></script> 
  <script type="text/javascript"><!--
$('#language a:first').tab('show');
//--></script></div>
{{ footer }}