{{ header }}
<div id="information-information" class="container">
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
      {% set i = 0 %}
      {% for breadcrumb in breadcrumbs %}
      {% set i = i + 1 %}
      {% if i == 1 %}
	<li class="breadcrumb-item">
	<a href="{{ breadcrumb.href }}" aria-label="Home">
	<span class="si si-18 d-inline-block">
	    <svg height="18" fill="#333" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
	        <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/>
	    </svg>
	</span>
	</a>
	</li>
      {% elseif breadcrumbs|length != i %}
	<li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% else %}
	<li class="breadcrumb-item active">{{ breadcrumb.text }}</li>
      {% endif %}
      {% endfor %}
      </ol>
  </nav>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
       
	   <div class="category-info">
	   {{ description }}
	   </div>
	   {% if categories %}
	   <div>
	    {% for category in categories %}
		  <div style="float:left; margin-right:40px;"><a href="{{ category.href }}">
		  <img src="{{ category.image }}" /> <br />
			  {{ category.name }}</a></div>
		{% endfor %}
		<div style="clear:both; border-top:1px solid #f5f5f5; height:1px; margin:2px;"></div>
		
	    </div>
	   {% endif %} 
	   
	   <!-- Begin photos list -->
	   {% if photos %}
		<div class="image-row" style="clear:both;">
		{% for album in photos %}
			<div>
			  <!-- Begin boxgrid -->
			  <div class="image" style="margin-bottom:3px; border:1px solid #f5f5f5;">
			  {% if album.thumb %}
				<a class="example-image-link" href="{{ album.href }}" data-lightbox="example-set" title="{{ album.description }}"><img class="example-image" src="{{ album.thumb }}" alt="{{ album.name }}" title="{{ album.description }}" /></a>
				{% if album.title %}
				<div class="name">{{ album.title }}</div>
				{% endif %} 
			  {% endif %}
			  </div>
			  <!-- End boxgrid -->
			</div>
		{% endfor %}
		</div>
		{% endif %}
		<!-- End photos list -->
		
	  {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
