{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_add }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_url }}</label>
            <div class="col-sm-10">
              <input type="text" name="url" value="{{ url }}" placeholder="{{ entry_url }}" id="input-name" class="form-control" />
              {% if error_url %}
              <div class="text-danger">{{ error_url }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_parser }}</label>
            <div class="col-sm-10">
              <input type="text" name="parser" value="{{ parser }}" placeholder="{{ entry_parser }}" id="input-name" class="form-control" />
              {% if error_parser %}
                <div class="text-danger">{{ error_parser }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_parent }}</label>
            <div class="col-sm-10">
              <input type="text" name="parent" value="{{ parent }}" placeholder="{{ entry_parent }}" id="input-name" class="form-control" />
              {% if error_parent %}
                <div class="text-danger">{{ error_parent }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">{{ entry_markup }}</label>
            <div class="col-sm-10">
              <input type="text" name="markup" value="{{ markup }}" placeholder="{{ entry_markup }}" id="input-name" class="form-control" />
              {% if error_markup %}
                <div class="text-danger">{{ error_markup }}</div>
              {% endif %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="status" id="input-status" class="form-control">
                {% if status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_delete }}</h3>
      </div>
      <div class="panel-body">
        <form method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-url">{{ entry_urls }}</label>
            <div class="col-sm-10">
              <div id="url-for-parse" class="well well-sm" style="height: 150px; overflow: auto;">
                {% for url in urls %}
                  <div id="{{ url.id }}"><i class="fa fa-minus-circle"></i> {{ url.url }}
                      <div>Имя парсера: {{ url.parser_name }}</div>
                      <div>Наценка: {{ url.markup }}</div>
                      <div>Имя родительской категории: {{ url.parent_id }}</div>
                      {% if url.status == 1 %}
                          <div>Статус: вкл.</div>
                      {% else %}
                          <div>Статус: выкл.</div>
                      {% endif %}
                      <input id="input-url" type="hidden" name="url[]" value="{{ url.id }}" />
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function() {
      $("#url-for-parse").delegate('.fa-minus-circle', 'click', function() {
        $.ajax({
          type: "POST",
          data: ({urlId: $(this).parent().attr("id")}),
          dataType: "html",
        });

        $(this).parent().remove();
      });
    });
  </script>
</div>
{{ footer }}