{{ header }}{{ column_left }}
<div id="content">
	<style>
		.form-group {
			padding: 0;
		}
		.form-group + .form-group{
			border-top: none;
		}
		label{
			font-weight: normal;
		}
		hr{
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.on-off{
			width: 40px;
			text-align:center;
			display: block;
		}
		.nowrap{
			white-space: nowrap;
		}
		.input-group+.input-group{
			margin-top: -1px;
		}
		thead {
			background: #f5f5f5;
		}
		@media (min-width: 768px) {
			.form-horizontal .control-label {
				padding-top: 0px; 
			}
		}
		.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
				border-bottom: none;
		}
		.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
			padding: 5px;
		}
		.table thead td {
			font-weight: normal;
		}
		.img-thumbnail img {
			max-width: 46px;
		}
		.table thead td span[data-toggle="tooltip"]:after, label.control-label span:after {
			content: "\f29c";
		}
		.w-1{
			width:1%;
		}
		pre {
			border:none;
			border-radius: 0;
			max-height: 100px;
			overflow-x: hidden;
			overflow-y: auto;
		}
		.nav-pills{
			margin-bottom: 40px;
		}
		.nav-pills > li > a {
			background-color: #fafafa;
		}
		@media (min-width: 1200px) {
			.nav-pills > li > a {
				text-align: right
			}
		}
		.well{
			margin: 0;
		}
		.well .checkbox{
			padding-top: 2px;
			padding-bottom: 2px;
			min-height: auto;
		}
		.panel-body{
			position: relative;
		}
		body.loading .panel-body:after{
			position: absolute;
			content: "";
			display: block;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background: rgba(255,255,255,.5);
			z-index: 999;
		}
		.l-icon {
			display: none;
		}
		body.loading .l-icon{
			display: inline-block;
		}
		body.loading .s-icon{
			display: none;
		}
		.alert-dismissable .close, .alert-dismissible .close{
			top:0;
		}
		.alert .fa {
			margin-right: 5px;
		}
		.alert a {
			color: #c72f1d;
			text-decoration: underline;
			font-weight: bold;
		}
	</style>
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
				{% if apply_button %}
				<button type="button" onclick="apply()" data-toggle="tooltip" title="{{ button_save }} и остаться" class="btn btn-success">
					<i class="fa fa-spinner fa-pulse fa-fw l-icon"></i>
					<i class="fa fa-check fa-fw s-icon"></i>
				</button>
				{% endif %}
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
          <div class="form-group {% if error_name %} has-error {% endif %}">
            <label class="col-sm-3 control-label" for="input-name">{{ entry_name }}</label>
            <div class="col-sm-9">
              <input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
              {% if error_name %}
              <div class="text-danger">{{ error_name }}</div>
              {% endif %}
            </div>
          </div>
					<hr>
					<div class="form-group">
						<label class="col-sm-3 control-label">{{ entry_status }}</label>
						<div class="col-sm-9">
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-default {% if not status %} active {% endif %}">
									<input type="radio" name="status" value="0" {% if not status %} checked {% endif %}>
									<span class="on-off">{{ text_disabled }}</span>
								</label>
								<label class="btn btn-default {% if status %} active {% endif %}">
									<input type="radio" name="status" value="1" {% if status %} checked {% endif %}>
									<span class="on-off">{{ text_enabled }}</span>
								</label>
							</div>
						</div>
					</div>
					<hr>
					<div class="form-group">
						<label class="col-sm-3 control-label">{{ entry_title }}</label>
						<div class="col-sm-9">
							{% for language in languages %}
							<div class="input-group">
								<span class="input-group-addon">
									<img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" />
								</span>
								<input name="title[{{ language.language_id }}]" value="{{ title[language.language_id] }}" class="form-control" />
							</div>
							{% endfor %}
						</div>
					</div>
					<hr>
					<div class="form-group">
						<label class="col-sm-3 control-label">{{ entry_module_type }}</label>
						<div class="col-sm-9">
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-default {% if module_type == 'latest' %} active {% endif %}">
									<input type="radio" name="module_type" value="latest" {% if module_type == 'latest' %} checked {% endif %}>
									<span>{{ entry_latest }}</span>
								</label>
								<label class="btn btn-default {% if module_type == 'special' %} active {% endif %}">
									<input type="radio" name="module_type" value="special" {% if module_type == 'special' %} checked {% endif %}>
									<span>{{ entry_special }}</span>
								</label>
								<label class="btn btn-default {% if module_type == 'bestseller' %} active {% endif %}">
									<input type="radio" name="module_type" value="bestseller" {% if module_type == 'bestseller' %} checked {% endif %}>
									<span>{{ entry_bestseller }}</span>
								</label>
								<label class="btn btn-default {% if module_type == 'viewed' %} active {% endif %}">
									<input type="radio" name="module_type" value="viewed" {% if module_type == 'viewed' %} checked {% endif %}>
									<span>{{ entry_viewed }}</span>
								</label>
								<label class="btn btn-default {% if module_type == 'featured' %} active {% endif %}">
									<input type="radio" name="module_type" value="featured" {% if module_type == 'featured' %} checked {% endif %}>
									<span>{{ entry_featured }}</span>
								</label>
							</div>
						</div>
					</div>
					<hr>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-product"><span data-toggle="tooltip" title="{{ help_product }}">{{ entry_product }}</span></label>
            <div class="col-sm-9">
              <input type="text" name="product_name" value="" placeholder="{{ entry_product }}" id="input-product" class="form-control" />
              <div id="featured-product" class="well well-sm" style="height: 150px; overflow: auto;">
                {% for product in products %}
                <div id="featured-product{{ product.product_id }}"><i class="fa fa-minus-circle"></i> {{ product.name }}
                  <input type="hidden" name="product[]" value="{{ product.product_id }}" />
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
					<hr>
					<div class="form-group">
						<label class="col-sm-3 control-label">{{ entry_product_items }}</label>
						<div class="col-sm-9">
							<div class="table-responsive">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>{{ entry_resolution }}</th>
											<th>1200px + </th>
											<th>992px - 1200px</th>
											<th>768px - 992px</th>
											<th>576px - 768px</th>
											<th>380px - 576px</th>
											<th>380px -</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th>{{ entry_r_count_items }}</th>
											<td><input name="adaptive_items[1201]" value="{{ adaptive_items[1201] }}" class="form-control" /></td>
											<td><input name="adaptive_items[1200]" value="{{ adaptive_items[1200] }}" class="form-control" /></td>
											<td><input name="adaptive_items[992]" value="{{ adaptive_items[992] }}" class="form-control" /></td>
											<td><input name="adaptive_items[768]" value="{{ adaptive_items[768] }}" class="form-control" /></td>
											<td><input name="adaptive_items[576]" value="{{ adaptive_items[576] }}" class="form-control" /></td>
											<td><input name="adaptive_items[380]" value="{{ adaptive_items[380] }}" class="form-control" /></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<hr>
					<div class="form-group">
						<label class="col-sm-3 control-label">{{ entry_pagination }}</label>
						<div class="col-sm-9">
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-default {% if not pagination %} active {% endif %}">
									<input type="radio" name="pagination" value="0" {% if not pagination %} checked {% endif %}>
									<span class="on-off">{{ text_disabled }}</span>
								</label>
								<label class="btn btn-default {% if pagination %} active {% endif %}">
									<input type="radio" name="pagination" value="1" {% if pagination %} checked {% endif %}>
									<span class="on-off">{{ text_enabled }}</span>
								</label>
							</div>
						</div>
					</div>
					<hr>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="input-limit">{{ entry_limit }}</label>
            <div class="col-sm-9">
              <input type="text" name="limit" value="{{ limit }}" placeholder="{{ entry_limit }}" id="input-limit" class="form-control" />
            </div>
          </div>
					<hr>
					<div class="form-group">
						<label class="col-sm-3 control-label">{{ entry_hide_products }}</label>
						<div class="col-sm-9">
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-default {% if not hide_out_of_stock_products %} active {% endif %}" >
									<input type="radio" name="hide_out_of_stock_products" value="0" {% if not hide_out_of_stock_products %} checked {% endif %}>
									<span class="on-off">{{ text_no }}</span>
								</label>
								<label class="btn btn-default {% if hide_out_of_stock_products %} active {% endif %}">
									<input type="radio" name="hide_out_of_stock_products" value="1" {% if hide_out_of_stock_products %} checked {% endif %}>
									<span class="on-off">{{ text_yes }}</span>
								</label>
							</div>
						</div>
					</div>
					<hr>
					<div class="form-group">
						<label class="col-sm-3 control-label">{{ entry_shufle }}</label>
						<div class="col-sm-9">
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-default {% if not shufle_products %} active {% endif %}" >
									<input type="radio" name="shufle_products" value="0" {% if not shufle_products %} checked {% endif %}>
									<span class="on-off">{{ text_no }}</span>
								</label>
								<label class="btn btn-default {% if shufle_products %} active {% endif %}">
									<input type="radio" name="shufle_products" value="1" {% if shufle_products %} checked {% endif %}>
									<span class="on-off">{{ text_yes }}</span>
								</label>
							</div>
						</div>
					</div>
					<hr>
					<div class="form-group">
						<label class="col-sm-3 control-label">{{ entry_autuplay }}</label>
						<div class="col-sm-9">
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-default {% if not autoplay %} active {% endif %}" >
									<input type="radio" name="autoplay" value="0" {% if not autoplay %} checked {% endif %}>
									<span class="on-off">{{ text_no }}</span>
								</label>
								<label class="btn btn-default {% if autoplay %} active {% endif %}">
									<input type="radio" name="autoplay" value="1" {% if autoplay %} checked {% endif %}>
									<span class="on-off">{{ text_yes }}</span>
								</label>
							</div>
						</div>
					</div>
					<hr>
					<div class="form-group">
            <label class="col-sm-3 control-label">{{ entry_autuplay_speed }}</label>
            <div class="col-sm-9">
              <input type="text" name="autoplay_speed" value="{{ autoplay_speed }}" class="form-control" />
            </div>
          </div>
					<hr>
					<div class="form-group">
						<label class="col-sm-3 control-label">{{ entry_add_buttons }}}</label>
						<div class="col-sm-9">
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-default {% if 'wishlist' in show_buttons %} active {% endif %}">
									<input type="checkbox" name="show_buttons[]" value="wishlist" {% if 'wishlist' in show_buttons %} checked {% endif %}>
									<span>{{ entry_wishlist }}</span>
								</label>
								<label class="btn btn-default {% if 'compare' in show_buttons %} active {% endif %}">
									<input type="checkbox" name="show_buttons[]" value="compare" {% if 'compare' in show_buttons %} checked {% endif %}>
									<span>{{ entry_compare }}</span>
								</label>
								<label class="btn btn-default {% if 'fastorder' in show_buttons %} active {% endif %}">
									<input type="checkbox" name="show_buttons[]" value="fastorder" {% if 'fastorder' in show_buttons %} checked {% endif %}>
									<span>{{ entry_fastorder }}</span>
								</label>
								<label class="btn btn-default {% if 'qview' in show_buttons %} active {% endif %}">
									<input type="checkbox" name="show_buttons[]" value="qview" {% if 'qview' in show_buttons %} checked {% endif %}>
									<span>{{ entry_qwiev }}</span>
								</label>
							</div>
							<input type="hidden" name="show_buttons[]" value="arr_holder">
						</div>
					</div>
					<hr>
          <div class="form-group {% if error_width %} has-error {% endif %}">
            <label class="col-sm-3 control-label" for="input-width">{{ entry_width }}</label>
            <div class="col-sm-9">
              <input type="text" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control" />
              {% if error_width %}
              <div class="text-danger">{{ error_width }}</div>
              {% endif %}
            </div>
          </div>
					<hr>
          <div class="form-group {% if error_height %} has-error {% endif %}">
            <label class="col-sm-3 control-label" for="input-height">{{ entry_height }}</label>
            <div class="col-sm-9">
              <input type="text" name="height" value="{{ height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control" />
              {% if error_height %}
              <div class="text-danger">{{ error_height }}</div>
              {% endif %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
	$('input[name=\'product_name\']').autocomplete({
		source: function(request, response) {
			$.ajax({
				url: 'index.php?route=catalog/product/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
				dataType: 'json',
				success: function(json) {
					response($.map(json, function(item) {
						return {
							label: item['name'],
							value: item['product_id']
						}
					}));
				}
			});
		},
		select: function(item) {
			$('input[name=\'product_name\']').val('');
			
			$('#featured-product' + item['value']).remove();
			
			$('#featured-product').append('<div id="featured-product' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="product[]" value="' + item['value'] + '" /></div>');	
		}
	});
		
	$('#featured-product').delegate('.fa-minus-circle', 'click', function() {
		$(this).parent().remove();
	});
</script>
{% if apply_button %}
<script type="text/javascript">
	function apply(){
		$(".alert").remove();
		$.ajax({
			type: "post",
			url: $("#form-module").attr('action'),
			data: $("#form-module").serialize(),
			dataType: 'html',
			beforeSend: function() {
				$('body').addClass('loading');
				$('.control-btns .btn').addClass('disabled');
			},
			success: function(html) {
				var $href = $(html).find(".well [selected=\"selected\"]").val();
				if ($href) {
					$.ajax({
						type: "post",
						url: $href,
						data: '',
						dataType: 'html',
						success: function(html) {
							var $success = $(html).find('.alert-success, .alert-danger');
							if ($success.length > 0) {
								$('.panel-default').before($success);
								$('body').removeClass('loading');
								$('.control-btns .btn').removeClass('disabled');
							}
						}
					});
				} else {
					var $success = $(html).find('.alert-success, .alert-danger'),
							$content = $(html).find('.panel-default').html();
					
					if ($success.length > 0) {
						$('.panel-default').before($success);
					} else {
						$('.panel-default').html($content);
					}		

					$('body').removeClass('loading');
					$('.control-btns .btn').removeClass('disabled');
				}
			}
		});
	}
</script>
{% endif %}
{{ footer }}
